In [1]:
%load_ext autoreload
# This line loads the extension 'autoreload' that enables to reload automatically the imported moduls whenever they
# are modified.

%autoreload 2
# This line activates mode 2, meaning:
# automatically reload all the imported moduls before every command

#e.g.
# When you're developing a Python module (my_module.py) and you import it in a notebook:
# from my_module import my_function
# If you then modify my_function in the my_module.py file, you would normally need to restart the kernel or re-import the module for the changes to take effect. 
# However, with %autoreload 2, the module is reloaded automatically, and you can use the updated version right away.

In [2]:
import re

import dill
import pandas as pd

import unimib_snowit_project.utils as u

# Setup

In [3]:
# Base Params

# folder
DATA_IN_DIR = 'data_input'

# files
USERS_IN_FILENAME = 'users.csv'
PROFILES_IN_FILENAME = 'profiles.csv'
CARDS_IN_FILENAME = 'cards.csv'
ORDERS_IN_FILENAME = 'orders.csv'
ORDER_DETAILS_IN_FILENAME = 'order_details.csv'

# OSS: "pickle" stands for .pkl, a typical Python extension to save dataframes and files, similar to .csv, but more efficient.

# folder (to store pickle data after cleaning)
DATA_PKL_DIR = 'data_loaded'

# files (pickle data after cleaning)
USERS_PKL_FILENAME = 'users.pkl'
PROFILES_PKL_FILENAME = 'profiles.pkl'
CARDS_PKL_FILENAME = 'cards.pkl'
ORDERS_PKL_FILENAME = 'orders.pkl'
ORDER_DETAILS_PKL_FILENAME = 'order_details.pkl'

# na values
NA_VALUES = ['', ' ', '""',
             '#N/A', '#N/A N/A', '#NA', 'N/A', '<NA>', 'n/a', # 'NA',
             '-1.#IND', '1.#IND',
             '-1.#QNAN', '-NaN', '-nan', '-NAN', '1.#QNAN', 'NaN', 'nan', 'NAN',
             'NULL', 'Null', 'null',
             'NONE', 'None', 'none',
             '[]'
             ]

In [4]:
# Base paths

root_dir_path = u.get_root_dir()
# in my case: ('C:/Users/davyt/Desktop/Bicocca/Marketing Analytics/unimib_snowit_project')

data_in_dir_path = root_dir_path.joinpath(DATA_IN_DIR) # in my case: ('C:/Users/davyt/Desktop/Bicocca/Marketing Analytics/unimib_snowit_project/data_input')
users_in_path = data_in_dir_path.joinpath(USERS_IN_FILENAME)
profiles_in_path = data_in_dir_path.joinpath(PROFILES_IN_FILENAME)
cards_in_path = data_in_dir_path.joinpath(CARDS_IN_FILENAME)
orders_in_path = data_in_dir_path.joinpath(ORDERS_IN_FILENAME)
order_details_in_path = data_in_dir_path.joinpath(ORDER_DETAILS_IN_FILENAME) 

data_pkl_dir_path = root_dir_path.joinpath(DATA_PKL_DIR) 
users_pkl_path = data_pkl_dir_path.joinpath(USERS_PKL_FILENAME)
profiles_pkl_path = data_pkl_dir_path.joinpath(PROFILES_PKL_FILENAME)
cards_pkl_path = data_pkl_dir_path.joinpath(CARDS_PKL_FILENAME)
orders_pkl_path = data_pkl_dir_path.joinpath(ORDERS_PKL_FILENAME)
order_details_pkl_path = data_pkl_dir_path.joinpath(ORDER_DETAILS_PKL_FILENAME)

# LOAD

## Load Users

In [5]:
safeload_users_df = pd.read_csv(users_in_path,
                                dtype='string', 
                                na_values=[],     
                                keep_default_na=False 
                                )

In [6]:
safeload_users_df.columns

Index(['user.uid', 'createdAt', 'source', 'isAnonymous', 'referralsCount',
       'city', 'language', 'googleId', 'appleId', 'facebookId',
       'referral.medium', 'referral.source', 'referral.type',
       'favouriteZones'],
      dtype='object')

In [7]:
safeload_users_df.shape

(728598, 14)

In [8]:
col_to_check = 'user.uid'
safeload_users_df[col_to_check].unique().shape
# I expect this number to be the same as the dimension of the shape, and that's what happens

(728598,)

In [9]:
col_to_check = 'source'
safeload_users_df[col_to_check].unique()

<StringArray>
['website', 'app', 'terze_parti', 'welfare']
Length: 4, dtype: string

In [10]:
col_to_check = 'isAnonymous'
safeload_users_df[col_to_check].unique()

<StringArray>
['False', 'True', '']
Length: 3, dtype: string

In [11]:
col_to_check = 'referralsCount'
safeload_users_df[col_to_check].unique()

<StringArray>
[  '0.0',      '',   '4.0',   '1.0',   '2.0',   '3.0',   '5.0',   '7.0',
   '6.0',  '40.0',  '30.0',   '8.0',  '10.0',  '87.0',  '15.0',  '27.0',
  '17.0',  '23.0',  '16.0',  '19.0', '100.0',  '38.0',   '9.0']
Length: 23, dtype: string

In [12]:
col_to_check = 'city'
safeload_users_df[col_to_check].unique()

<StringArray>
[             'Aachen',             'Aalborg',            'Aalborg ',
               'Aalen',            'Aalsmeer',               'Aalst',
              'Aalter',               'Aarau',             'Aarburg',
              'Aarhus',
 ...
  'Zvolensk‚àö¬∞ Slatina',               'Zwaag',             'Zwickau',
         'Zwijndrecht',           'Zwillikon',         'Zwingenberg',
              'Zwolle',            'Zyrardow',              'Zywiec',
 '\uf8ff√º√°¬®\uf8ff√º√°√ü ']
Length: 22006, dtype: string

In [13]:
# I have an encoding problem, for example:
safeload_users_df.groupby('city').count().tail(55).index

Index(['zurigo', 'zutigo', '√ä√ë√®√Ç¬ß√ü√Ç√†¬©√Å¬±‚â•√Ç√ñ‚àû√Å√∫√Ö√Å¬±‚â•√Ç√ñ‚àû', '√é‚àû√Ñ√é√π¬∫√é√ñ‚àè',
       '√è√π¬•√å√â√†√é¬∂¬®√è√Ø√ë', '√ø¬®√ø¬Æ≈∏√§≈∏√ë', '√ø√ü≈∏√ë√ø¬±≈∏√§√ø√ü≈∏√ú', '≈í√´≈í‚àè≈í√Ü≈íŒ©≈í¬±',
       '≈í√µ≈í¬®≈ì√Ö≈íŒ©≈í¬±≈í‚à´≈í¬±', '≈í√µ≈í¬µ≈ì√ñ≈í‚à´≈ì√¢≈ì√â≈í√ò≈í¬±', '≈í√∂≈í√º≈í√∫≈í√º≈í¬ß≈í√≥≈í√π≈í√≥',
       '≈í√∂≈ì√ñ≈ì√Ñ≈í¬µ≈ì√Ö≈í√∏≈ì√ß≈íŒ©≈ì√ë≈í¬±', '≈í‚Ä†≈í¬®≈ì√ë≈ì√Ö≈í¬±', '≈í‚Ä†≈í¬®≈ì√ú≈í√∏≈ì√á', '∆í¬∂amrun',
       '∆í√Ñda‚âà√¶i', '∆í√•avisov', '∆í√•a∆í√ßak', '∆í√•ej∆í√ß', '∆í√•el‚àö¬∞kovice',
       '∆í√•el‚àö¬∞kovice ', '∆í√•eperka', '∆í√•ernihiv', '∆í√•ernovice', '∆í√•erno‚âà¬∞ice',
       '∆í√•erno‚âà¬∞ice ', '∆í√•ern‚àöŒ© D‚âà√òl', '∆í√•erven‚àö¬© Janovice',
       '∆í√•erven‚àö¬© Pe∆í√ßky', '∆í√•erven‚àöŒ© Kostelec', '∆í√•erven‚àöŒ© ‚àö√∂jezd',
       '∆í√•er∆í√ßany', '∆í√•esk‚àö¬© Bud∆í√µjovice', '∆í√•esk‚àö¬© Bud∆í√µjovice ',
       '∆í√•esk‚àö¬© Velenice', '∆í√•esk‚àö¬∞', '∆í√•esk‚àö¬∞ Kamenice', '∆í√•esk‚àö¬∞ L‚àö‚â†pa',
       '∆í√•esk‚àö¬∞ Republika', '∆í√•esk‚àö¬∞ Skalice', '∆í√•esk‚àö¬∞ T‚âà√¥ebov‚àö¬∞',
       '∆í√•esk‚àöŒ© Brod', '∆í√•esk‚àöŒ© Ji‚âà√¥et‚àö‚â†n', '∆í√•esk‚àöŒ© Krumlov',
       '∆í√•esk‚àöŒ© Rudolec', '∆í√•esk‚àöŒ© T∆í√µ‚âà¬∞‚àö‚â†n', '∆í√•isovice', '∆í√•ty‚âà√¥koly',
       '∆í√•‚àö¬∞slav', '∆í√•‚àö¬∞slavice', '∆í√©urkov', '∆í‚àëekava', '∆í‚àûSTANBUL',
       '∆í‚àûstanbul', 'Ô£ø√º√°¬®Ô£ø√º√°√ü '],
      dtype='string', name='city')

In [14]:
# to install the package ftfy trying to solve the encoding problem:
# (MarketingAnalytics) C:\Users\davyt\Desktop\Bicocca\Marketing Analytics> cd unimib_snowit_project
# (MarketingAnalytics) C:\Users\davyt\Desktop\Bicocca\Marketing Analytics\unimib_snowit_project> pdm add ftfy

In [15]:
import pandas as pd
from ftfy import fix_text

safeload_users_df.loc[safeload_users_df['city'].notna(), 'city'] = safeload_users_df.loc[safeload_users_df['city'].notna(), 'city'].apply(fix_text)

In [16]:
safeload_users_df.groupby('city').count().tail(55).index

Index(['zurigo', 'zutigo', 'ƒÄda≈æi', 'ƒåavisov', 'ƒåaƒçak', 'ƒåejƒç', 'ƒåel√°kovice',
       'ƒåel√°kovice ', 'ƒåeperka', 'ƒåernihiv', 'ƒåernovice', 'ƒåerno≈°ice',
       'ƒåerno≈°ice ', 'ƒåern√Ω D≈Øl', 'ƒåerven√© Janovice', 'ƒåerven√© Peƒçky',
       'ƒåerven√Ω Kostelec', 'ƒåerven√Ω √öjezd', 'ƒåerƒçany', 'ƒåesk√°',
       'ƒåesk√° Kamenice', 'ƒåesk√° L√≠pa', 'ƒåesk√° Republika', 'ƒåesk√° Skalice',
       'ƒåesk√° T≈ôebov√°', 'ƒåesk√© Budƒõjovice', 'ƒåesk√© Budƒõjovice ',
       'ƒåesk√© Velenice', 'ƒåesk√Ω Brod', 'ƒåesk√Ω Ji≈ôet√≠n', 'ƒåesk√Ω Krumlov',
       'ƒåesk√Ω Rudolec', 'ƒåesk√Ω Tƒõ≈°√≠n', 'ƒåisovice', 'ƒåty≈ôkoly', 'ƒå√°slav',
       'ƒå√°slavice', 'ƒéurkov', 'ƒ¶amrun', 'ƒ∞STANBUL', 'ƒ∞stanbul', 'ƒ∑ekava',
       'ŒëŒ∏ŒÆŒΩŒ±', 'ŒöŒüŒúŒüŒ§ŒóŒùŒó', 'ŒöœÖœÄŒµœÅŒøœçŒΩœÑŒ±', 'ŒõŒ¨œÅŒΩŒ±Œ∫Œ±', 'ŒõŒµœÖŒ∫œâœÉŒØŒ±', 'Œ†Œ¨œÑœÅŒ±',
       'Œ†Œ¨œÜŒøœÇ', 'ÿßŸÑÿ±ŸäÿßŸÜ', 'ÿ¨ÿ®ŸäŸÑ', 'ÊÑèÂ§ßÂà©Á±≥ÂÖ∞ÁúÅÁ±≥ÂÖ∞', 'Î∞ÄÎùºÎÖ∏', 'Ïù¥ÌÉàÎ¶¨ÏïÑ', 'üá¨üáß '],
      dtype='string', name='city')

In [17]:
safeload_users_df['city']= safeload_users_df['city'].apply(lambda x:
                                                                       u.clean_str(x, 'lower')
                                                                       if pd.notnull(x)
                                                                       else None
                                                                       )

In [18]:
safeload_users_df['city'].unique()
# we reduce the number of unique cities from 22006 to 15862

array(['aachen', 'aalborg', 'aalen', ..., 'zyrardow', 'zywiec', 'üá¨üáß'],
      shape=(15863,), dtype=object)

In [19]:
col_to_check = 'language'
safeload_users_df[col_to_check].unique()

<StringArray>
['en', 'de', 'it',   '', 'nl', 'es', 'fr', 'cs', 'ru', 'zh', 'sv', 'da', 'fi',
 'pt', 'ro', 'sl', 'nb', 'sk', 'pl']
Length: 19, dtype: string

In [20]:
col_to_check = 'googleId'
safeload_users_df[col_to_check].unique()

<StringArray>
['True', '']
Length: 2, dtype: string

In [21]:
col_to_check = 'appleId'
safeload_users_df[col_to_check].unique()

<StringArray>
['', 'True']
Length: 2, dtype: string

In [22]:
col_to_check = 'facebookId'
safeload_users_df[col_to_check].unique()

<StringArray>
['', 'True']
Length: 2, dtype: string

In [23]:
col_to_check = 'referral.medium'
safeload_users_df[col_to_check].unique()

<StringArray>
[                                 '',                               'cpc',
                           'website',                             'email',
                       'affiliation',             'satispay-landing-page',
                           'cpc,cpc',                     'gite-in-treno',
                           'organic',        'pubbliredazionale-dicembre',
                       'pickuppoint',                          'referral',
                               'app', 'bcg-landing-page,bcg-landing-page',
                             'flyer',                      'landing-page',
                'influencer-stories',                            'banner',
                            'bobbio',                           'sitoweb',
                               'NEN',                      'bcgplatinion',
                        'bormiopass',                              'sito',
                           'bottone',                          'magazine',
                              'news',                              'blog',
         'pubbliredazionale-gennaio',                            'email ',
                               'dem',                       'cheventi.it',
                             'dasio',                           'offline',
                              'paid',                              'skin',
                        'influencer',                           'article',
                         'pacchetto',                     'qrcode_stampa',
                         'affiliate',                           'qr-code',
                            'social',               'qrcode_biglietteria',
                  'trenord-prodotti',            'art_gitelomb_4percorsi',
                  'tariffario_flyer',                   'company_profile',
             'publiredaz-dovesciare']
Length: 49, dtype: string

In [24]:
col_to_check = 'referral.source'
safeload_users_df[col_to_check].unique()

<StringArray>
[                              '',                         'google',
                           'meta',         'piani-di-bobbio-barzio',
                          'brevo',                       'magazine',
                         'widget',                         'social',
                       'satispay',                  'google,google',
                        'trenord',                         'chiesa',
                         'aprica',              'chiesa-valmalenco',
                           'yome',                 'ActiveCampaign',
                     'dovesciare',                    'pickuppoint',
                   'email_snowit',                           'blog',
                        'adwords', 'piani-di-bobbio-barzio,trenord',
            'ads_bikeit_noleggio',                    'mail_snowit',
                     'domobianca',                       'app_home',
                        'skiinfo',                     'FB_funcard',
                           'awin',                        'bcg,bcg',
                     'Neveitalia',                     'newsletter',
                      'snowmates',                         'snowit',
                          'flyer',                   'landing-page',
                       'madesimo',                  'social_snowit',
                'mail_crm_snowit',                     'influencer',
                         'bobbio',             'livigno_skipassion',
                      'bormioski',                    'sponsorship',
                    'coupons_it2',                'giteinlombardia',
           'Landing_Visit_Bormio',                       'Scalapay',
           'santacaterinawebsite',                          'blog ',
                      'francesco',                            'git',
                       'referral',                       'facebook',
                           'mail',           'gazzetta-dello-sport',
                    'blog_bikeit',                  'transactional',
                 'restaurantguru',                    'cheventi.it',
               'landingbenvenuto',      'catalogo-fidaty-esselunga',
                     'google_ads',                     'sendinblue',
                  'fb-SiteLink-5',                       'scalapay',
                             'fb',               'Corno Alle Scale',
             'il ciclista viaggi',                        'organic',
                     'neveitalia',                      'sportweek',
                     'bikeitalia',                         'tiktok',
                       'hs_email',                 'SnowitMagazine',
                'meta-SiteLink-2',                    'chatgpt.com',
                      'kitesurfy',                   'gazzettaquot',
                        'Skiinfo',                 'newsletter_231',
        'google_ads_bikeit_brand',                    'blog-snowit',
                             'ig',  'google_ads_bikeit_brand_smart',
                        'livigno',                         'bormio',
                     'trustpilot',                 'newsletter_171',
          'publiredaz-dovesciare',                       'linktree',
                 'newsletter_167',                'meta-SiteLink-3',
               'ilciclistaviaggi',                        'sailogy']
Length: 96, dtype: string

In [25]:
col_to_check = 'referral.type'
safeload_users_df[col_to_check].unique()

<StringArray>
[     '',   '1.0',   '2.0',   '3.0',   '4.0',   '5.0',   '6.0',   '7.0',
   '8.0',   '9.0',
 ...
 '453.0', '454.0', '455.0', '456.0', '457.0', '458.0', '459.0', '460.0',
 '461.0', '462.0']
Length: 463, dtype: string

In [26]:
col_to_check = 'favouriteZones'
safeload_users_df[col_to_check].unique()

# I obtain that there are 1627 different combinations of unique "at most 5 most preferred locations",
# beware that some of them (as the first one) are empty due to null values not managed yet.

<StringArray>
[                                                                                          '',
                             '[Alagna - Monterosa Ski,Gressoney-La-Trinit‚àö¬© - Monterosa Ski]',
                                                                                     '[Pila]',
                                                     '[Chiesa Valmalenco Bernina Ski Resort]',
                                                            '[Cervinia,Courmayeur,La Thuile]',
  '[Cervinia,Champoluc - Monterosa Ski,La Thuile,Gressoney-La-Trinit‚àö¬© - Monterosa Ski,Pila]',
                                                                 '[Barzio - Piani di Bobbio]',
                                                                            '[Alpe di Siusi]',
                                                                                   '[Andalo]',
                                               '[Folgaria,Maniva,Pontedilegno-Tonale,Andalo]',
 ...
 "[Barzio - Piani di Bobbio,Cervinia,Champoluc - Monterosa Ski,Cortina d'Ampezzo,Courmayeur]",
                                                                       '[Courmayeur,Livigno]',
                                                     '[Livigno,Bormio,Sestriere - Vialattea]',
                            '[Alagna - Monterosa Ski,Cervinia,Pila,Barzio - Piani di Bobbio]',
                                               '[Claviere - Vialattea,Sestriere - Vialattea]',
            '[Livigno,Alagna - Monterosa Ski,Aprica,Champoluc - Monterosa Ski,Valtournenche]',
                                       '[Barzio - Piani di Bobbio,Monte Pora,Carona,Foppolo]',
                                     '[Santa Cristina - Val Gardena,Santa Caterina Valfurva]',
                                '[Aprica,Badia - Alta Badia,Bardonecchia,Cervinia,La Thuile]',
                    '[Andalo,Badia - Alta Badia,Cimone,Corno alle Scale,Fai della Paganella]']
Length: 1627, dtype: string

In [27]:
safeload_users_df.groupby('favouriteZones').count().sort_values(by="city", ascending=False).head(10)

,user.uid,createdAt,source,isAnonymous,referralsCount,city,language,googleId,appleId,facebookId,referral.medium,referral.source,referral.type
favouriteZones,,,,,,,,,,,,,
,723967,723967,723967,723967,723967,325386,723967,723967,723967,723967,723967,723967,723967
[Aprica],203,203,203,203,203,192,203,203,203,203,203,203,203
[Pontedilegno-Tonale],189,189,189,189,189,162,189,189,189,189,189,189,189
[Barzio - Piani di Bobbio],165,165,165,165,165,151,165,165,165,165,165,165,165
[Chiesa Valmalenco Bernina Ski Resort],155,155,155,155,155,136,155,155,155,155,155,155,155
[Pila],126,126,126,126,126,117,126,126,126,126,126,126,126
[Cervinia],127,127,127,127,127,111,127,127,127,127,127,127,127
[Madesimo],114,114,114,114,114,106,114,114,114,114,114,114,114
[Folgaria],126,126,126,126,126,105,126,126,126,126,126,126,126
[Livigno],108,108,108,108,108,100,108,108,108,108,108,108,108

In [28]:
# Take a look at the most appreciated combinations
# Beware, that is not the best way to treat them, I'd like to have a counter for each specific location, but that is 
# something I'll deal with during the Exploratory Data Analysis...

In [29]:
safeload_users_df.groupby('favouriteZones').count().sort_values(by="city", ascending=False).tail(10)

,user.uid,createdAt,source,isAnonymous,referralsCount,city,language,googleId,appleId,facebookId,referral.medium,referral.source,referral.type
favouriteZones,,,,,,,,,,,,,
"[Alagna - Monterosa Ski,Champoluc - Monterosa Ski,Gressoney-La-Trinit‚àö¬© - Monterosa Ski,La Thuile]",1,1,1,1,1,0,1,1,1,1,1,1,1
"[Alagna - Monterosa Ski,Cervinia,Champoluc - Monterosa Ski,Gressoney-La-Trinit‚àö¬© - Monterosa Ski,Pila]",1,1,1,1,1,0,1,1,1,1,1,1,1
"[Alagna - Monterosa Ski,Cervinia,Champoluc - Monterosa Ski,Gressoney-La-Trinit‚àö¬© - Monterosa Ski]",1,1,1,1,1,0,1,1,1,1,1,1,1
"[Alagna - Monterosa Ski,Cervinia,Champoluc - Monterosa Ski,La Thuile,Pila]",1,1,1,1,1,0,1,1,1,1,1,1,1
"[Alagna - Monterosa Ski,Barzio - Piani di Bobbio,La Thuile,Domobianca]",1,1,1,1,1,0,1,1,1,1,1,1,1
"[Alagna - Monterosa Ski,Barzio - Piani di Bobbio,Cervinia,Champoluc - Monterosa Ski,Gressoney-La-Trinit‚àö¬© - Monterosa Ski]",1,1,1,1,1,0,1,1,1,1,1,1,1
"[Valtorta - Piani di Bobbio,Chiesa Valmalenco Bernina Ski Resort,Foppolo]",1,1,1,1,1,0,1,1,1,1,1,1,1
"[Valtorta - Piani di Bobbio,Foppolo,Monte Pora,Piazzatorre,Selvino]",1,1,1,1,1,0,1,1,1,1,1,1,1
"[Alagna - Monterosa Ski,Alpe di Siusi,Barzio - Piani di Bobbio,Cervinia,La Thuile]",1,1,1,1,1,0,1,1,1,1,1,1,1
"[Alagna - Monterosa Ski,Alleghe - Civetta,Alpe Teglio,Alpe di Siusi,Alta Pusteria]",1,1,1,1,1,0,1,1,1,1,1,1,1

In [30]:
# Read and fix the "final" users data
from ftfy import fix_text

users_df = pd.read_csv(users_in_path,
                       keep_default_na=False,
                       na_values=NA_VALUES, # assign the ones previously defined
                       dtype={
                           'user.uid': 'string',
                           'createdAt': 'string',
                           'source': 'string',
                           'isAnonymous': 'boolean',
                           'referralsCount': 'Int64',
                           'city': 'string',
                           'language': 'string',
                           'googleId': 'boolean',
                           'appleId': 'boolean',
                           'facebookId': 'boolean',
                           'referral.medium': 'string',
                           'referral.source': 'string',
                           'referral.type': 'Int64',
                           'favouriteZones': 'string'
                       }
                       )

users_df['createdAt'] = pd.to_datetime(users_df['createdAt'])

users_df['city'] = (users_df['city']
                    .apply(lambda x:
                           u.clean_str(x, 'lower')
                           if pd.notnull(x)
                           else None
                           )
                    )
users_df['city'] = users_df['city'].apply(
    lambda x: fix_text(x) if not (str(x).strip() in NA_VALUES) else x
)


users_df['referral.medium'] = (users_df['referral.medium']
                        .apply(lambda x:
                               u.clean_str(x, 'lower')
                               if pd.notnull(x)
                               else None
                               )
                        )

users_df['referral.source'] = (users_df['referral.source']
                        .apply(lambda x:
                               u.clean_str(x, 'lower')
                               if pd.notnull(x)
                               else None
                               )
                        )

# create an actual list out of the string
users_df['favouriteZones'] = (users_df['favouriteZones']
                              .apply(lambda x:
                                     u.get_list_from_str(x)
                                     if pd.notnull(x)
                                     else []
                                     )
                              )

In [31]:
# CHECK Primary Key VALIDITY

# SELECT count(1) as num_rows
# FROM users_df
# WHERE user.uid IS NULL

display(
    users_df
    .loc[lambda tbl: tbl['user.uid'].isnull()]
    .assign(aux=1.0) 
    .shape[0]
)


# SELECT user.uid, count(1) as num_rows
# FROM users_df
# GROUP BY user.id
# HAVING num_rows > 1

display(
    users_df
    .assign(aux=1.0) # add a new column named 'aux' with value 1, useful to count rows
    .groupby(['user.uid'], dropna=False)
    .agg(num_rows=('aux', pd.Series.count)) # 'agg' creates a new column named 'num_rows' whose values are the result of the application of the function 'pd.Series.count' to the column 'aux'
                                            
    .loc[lambda tbl: tbl['num_rows'] > 1] # lamba used here takes as argument (tbl) the same item I do the .loc on,
                                          # this case the entire dataframe.
                                          # When doing .apply(lambda x) x is a "portion" (like a row) of the item I do,
                                          # for example, the .loc on.
)

0

Empty DataFrame
Columns: [num_rows]
Index: []

In [32]:
# example of not having null
tool_data = users_df[1:10]
tool_data.assign(aux=1.0).groupby(['user.uid'], dropna=False).agg(NameNewColumn=('aux', pd.Series.count))

                            NameNewColumn
user.uid
87aezxkbjcfr1zgs6u3dt1cqvl              1
adhwlj2x4rfvugzef8iaijnpjd              1
ez4oclwv92ofoeklnccp4nflgz              1
fol9wcwjvltb0vus6shl0zakfl              1
gg5ntjlexfsaoagecwkvyj7txu              1
mzgjl3z7tfcmmum8k6nanthskk              1
ud3cuumrysslvy5hzgsq6ygovh              1
vgf8cmv8xnp0ifmyugwdzksz3s              1
y35dhzdewid6nzq5ctivwcogxd              1

In [33]:
# A look at the 'final' data
users_df.shape

(728598, 14)

In [34]:
users_df.tail(10)

,user.uid,createdAt,source,isAnonymous,referralsCount,city,language,googleId,appleId,facebookId,referral.medium,referral.source,referral.type,favouriteZones
728588,o2xjmToYS7bQgfVxe7B8zoxGgz3,2024-12-29,website,False,<NA>,zwolle,en,True,<NA>,<NA>,None,None,<NA>,[]
728589,saP3XuuUn4gR22EyBH1dgs5uTHy,2023-12-27,website,False,0,zwolle,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,[]
728590,txpG2bQl8Ve45ANraCVV40JSR71,2022-01-10,website,False,<NA>,zwolle,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,[]
728591,ulOwZeYSFOXLeIS3mXq5NRz1WGK,2025-01-20,website,False,<NA>,zwolle,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,[]
728592,C1IV755uejbd5mVaJh3tsX0GQ1o,2023-02-21,website,False,0,zyrardow,it,True,<NA>,<NA>,None,None,<NA>,[]
728593,14G4T7sZLhSnMkUXmAdOVCuevaL,2023-11-24,website,False,0,zywiec,it,True,<NA>,<NA>,None,None,<NA>,[]
728594,qBYuW5TV7dN1zm7bzGtOzIsGoXv,2025-01-09,website,False,<NA>,üá¨üáß,en,<NA>,<NA>,<NA>,None,None,<NA>,[]
728595,QYVsQw7QvTQRFswaLA2nO8v0FhH,2022-01-03,website,False,<NA>,None,it,<NA>,<NA>,<NA>,None,None,<NA>,[]
728596,hKVbfqQpPYXQ28Syz8gP7xmpofL,2024-01-08,website,False,0,None,it,<NA>,<NA>,<NA>,None,None,<NA>,[]
728597,oWRue3fvr5P8S1FCziP1im53XOm,2025-02-14,app,False,<NA>,None,<NA>,<NA>,<NA>,<NA>,None,None,<NA>,[]

## Load Profiles

In [35]:
safeload_profiles_df = pd.read_csv(profiles_in_path,
                                   dtype='string',
                                   na_values=[],
                                   keep_default_na=False
                                   )

In [36]:
safeload_profiles_df.columns

Index(['user.uid', 'profile.uid', 'birthday', 'sex', 'city', 'height',
       'weight', 'skibootsSize', 'level', 'types'],
      dtype='object')

In [37]:
safeload_profiles_df.shape

(97158, 10)

In [38]:
col_to_check = 'profile.uid'
safeload_profiles_df[col_to_check].unique()
# that's the primary key and, as expected, has the same dimension of the dataset

<StringArray>
['9oqhfw0zsc5prlkwh9gk', 'miejgay5t0m7v7gsjffo', 'vi88jcuymkmxkandvy3l',
 'p54s6m0hejd4nucibz4e', 'zkzpf8fnha6s4kmc2rwn', 'bqnrhm4itmwhofvxxxqh',
 'gci1tdbxhtyvcdacfewi', 'mmnf0ffbevaspno2u6zf', 'sw6ezr1tlxcpndhgka1s',
 'nuuzmulrxdbrhww3o70q',
 ...
 '1r2dtjklawjzgnbfcvdr', 'mmrzndbjrwu9rycgzhtp', 'hvj0s7frv7wuwgohq1hh',
 'le259lscdxhmvwjgfpym', 'balfq1j0nsnlztp2ntjh', 'rrjectzobab0e0yjg7ln',
 'c1xmzeeq0shd5wq5j3mk', 'miu7ipqiuvwnmdjrcfbj', 'i5jcva8arghxpflohvra',
 'qve3xjgnvnhqtevfa0sf']
Length: 97158, dtype: string

In [39]:
col_to_check = 'user.uid'
safeload_profiles_df[col_to_check].unique()
# oss 'profiles' > 'user', meaning that more profiles (mother, father, daughter) are related to the same user account

<StringArray>
['tvvgjd4sdgfucn33brkigrnjjv', 'iwu2obhsgzamrxcp4wnoxlf5b0',
 'bmgilq4eatrpt2hhwamnbcqnir', 'ysbrr5ve9azqvr1jw72expbnxr',
 'txy3ls535wzclygjnlt2gjalm1', 'f73bpmavwla9pho2qpgi5n7cdx',
 '2ch0jf5weordcmluqz51cuz1vb', 'fi9xtuvfhfqqkm9kcvonh7b13m',
 'nu7wfxo3u3cxbb5zfhelggfg1y', 'iuviiqflcjydzbvj7xbveexauh',
 ...
 '1h5aimn0ioc8z9wdybnvsneub3', 'ajvmewdjmntwl3qe9freo9020j',
 'hx4c5qjla6fwtkdzflhyy3leaa', 'kayyuolrnvrznzlcausph85t9a',
 'z2hubzult5xm8ixddc6xv2otyz', 'j2jgcghmxhbwuocf0koypm27be',
 'nbf8wvwtnrv97vdu1pk00drcxs', 'ucyqnolgulsap6k3835jfeapdk',
 'jzlczkcpaphgkgfljwu1tn3usl', 'mszngxuiuieb06relyhvduaxmq']
Length: 64238, dtype: string

In [40]:
col_to_check = 'birthday'
safeload_profiles_df[col_to_check].unique()

<StringArray>
['2000-05-23', '1994-08-07', '1992-05-06', '1998-02-16', '1994-05-12',
 '1979-12-09', '1982-02-02', '2009-09-18', '2000-03-04', '2004-02-22',
 ...
 '2024-01-17', '1956-09-26', '2016-06-28', '2018-12-08', '1964-09-09',
 '2021-02-25', '1962-02-13', '1959-06-14', '1972-05-09', '2019-03-13']
Length: 19464, dtype: string

In [41]:
col_to_check = 'sex'
safeload_profiles_df[col_to_check].unique()
# will be needed a function to standardize them

<StringArray>
['M', 'F', '', 'Uomo', 'Maschio', '""', 'm', 'maschio']
Length: 8, dtype: string

In [42]:
col_to_check = 'city'
safeload_profiles_df[col_to_check].unique()

<StringArray>
[         'Zwolle',          'Zurigo',         'Z‚àö¬∫rich',          'Zurich',
       'ZUR MOSHE',        'Zugliano',            'zone',    'Zola Predosa',
    'Zola predosa',   'Zogno Bergamo',
 ...
          'Acerra',       'Abu Dhabi',         'Absecon',       'Aboncourt',
        'Aberdeen',   'Abbiategrasso',   'ABBIATEGRASSO',   'abbiategrasso',
 'Abbadia Lariana',          'Aarhus']
Length: 3227, dtype: string

In [43]:
safeload_profiles_df['city'] = (safeload_profiles_df['city']
                                .apply(lambda x:
                                       u.clean_str(x, 'lower')
                                       if pd.notnull(x)
                                       else None
                                       )
                                )
safeload_profiles_df['city'] = safeload_profiles_df['city'].apply(
    lambda x: fix_text(x) if not (str(x).strip() in NA_VALUES) else x
)

In [44]:
safeload_profiles_df[col_to_check].unique()

array(['zwolle', 'zurigo', 'z√ºrich', ..., 'abbiategrasso',
       'abbadia lariana', 'aarhus'], shape=(2464,), dtype=object)

In [45]:
col_to_check = 'height'
safeload_profiles_df[col_to_check].unique()

<StringArray>
[   '180.0',    '185.0',         '',    '161.0',    '159.0',    '165.0',
    '158.0',    '200.0',    '160.0',    '178.0',
 ...
     '42.0',   '1890.0', '501660.0',    '211.0',     '44.0',     '51.0',
      '6.0',     '61.0',   '1779.0',     '17.0']
Length: 191, dtype: string

In [46]:
import pandas as pd

safeload_profiles_df['height'] = pd.to_numeric(safeload_profiles_df['height'], errors='coerce')
summary = safeload_profiles_df['height'].describe()

print(summary)

count        75771.0
mean      174.904566
std      1822.869884
min              1.0
25%            163.0
50%            171.0
75%            179.0
max         501660.0
Name: height, dtype: Float64

In [47]:
count = (safeload_profiles_df['height'] > 250).sum()
print(f"Values with height > 250cm: {count}")

Values with height > 250cm: 9

In [48]:
import numpy as np
safeload_profiles_df.loc[safeload_profiles_df['height'] > 250, 'height'] = np.nan

In [49]:
count = (safeload_profiles_df['height'] < 50).sum()
print(f"Values with height < 50cm: {count}")

Values with height < 50cm: 40

In [50]:
safeload_profiles_df.loc[safeload_profiles_df['height'] < 50, 'height'] = np.nan

In [51]:
col_to_check = 'weight'
safeload_profiles_df[col_to_check].unique()

<StringArray>
[  '70',   '95',     '',   '56',   '80',   '75',   '55',  '110',   '68',
   '72',
 ...
  '179',  '146', '8043',  '260',   '10',  '152',  '186', '3090',  '134',
 '5963']
Length: 201, dtype: string

In [52]:
safeload_profiles_df['weight'] = pd.to_numeric(safeload_profiles_df['weight'], errors='coerce')
summary = safeload_profiles_df['weight'].describe()

print(summary)

count      75548.0
mean     65.756871
std      42.012059
min            0.0
25%           55.0
50%           65.0
75%           77.0
max         8043.0
Name: weight, dtype: Float64

In [53]:
count = (safeload_profiles_df['weight'] > 160).sum()
print(f"Values with weight > 160kg: {count}")

#let's assume these people entered their weight in libbre

Values with weight > 160kg: 147

In [54]:
def correct_weight_column(df, col='weight'):
    df[col] = pd.to_numeric(df[col], errors='coerce') 
    df[col] = df[col].apply(lambda w: w / 2.205 if w > 160 else w)
    
    return df

In [55]:
safeload_profiles_df = correct_weight_column(safeload_profiles_df)

In [56]:
count = (safeload_profiles_df['weight'] < 13).sum()
print(f"Values with weight < 13kg: {count}")

Values with weight < 13kg: 16

In [57]:
col_to_check = 'skibootsSize'
safeload_profiles_df[col_to_check].unique()

<StringArray>
[  '43',     '',   '38',   '45',   '40',   '48',   '44',   '42',   '36',
   '41',
 ...
 '10.5',  '248',  '165',   '80',  '318',  '355',   '16',  '160', '4037',
  '338']
Length: 130, dtype: string

In [58]:
safeload_profiles_df['skibootsSize'] = pd.to_numeric(safeload_profiles_df['skibootsSize'], errors='coerce')
summary = safeload_profiles_df['skibootsSize'].describe()

print(summary)

count      75526.0
mean     41.036941
std      48.518657
min            0.0
25%           38.0
50%           41.0
75%           43.0
max         4546.0
Name: skibootsSize, dtype: Float64

In [59]:
col_to_check = 'level'
safeload_profiles_df[col_to_check].unique()

<StringArray>
['beginner', 'intermediate', 'expert', '']
Length: 4, dtype: string

In [60]:
col_to_check = 'types'
safeload_profiles_df[col_to_check].unique()

# out of the 97158 profiles (before cleaning), I have 129 unique combinations of available services

<StringArray>
[                             '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","hotel","travel","train","transport","itinerary","skipass"]',
                                         '["insurance","rent/bike","rent","lesson","lesson/ski","lesson/bike","hotel","travel","train","transport","itinerary","skipass"]',
           '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","hotel","travel","train","transport","itinerary","skipass","skipass/promo-cf"]',
                             '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","hotel","travel","train","transport","itinerary","seasonal"]',
           '["insurance","rent/bike","rent","lesson","lesson/ski","lesson/bike","hotel","travel","train","transport","itinerary","seasonal/maestri","seasonal","skipass"]',
                                                                           '["insurance","rent/bike","rent","train","transport","itinerary","skipass","skipass/promo-cf"]',
                                                                '["insurance","rent/bike","rent","train","transport","itinerary","seasonal/maestri","seasonal","skipass"]',
                                               '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","hotel","transport","itinerary","skipass"]',
                                      '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","travel","train","transport","itinerary","skipass"]',
                                               '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","train","transport","itinerary","skipass"]',
 ...
                               '["insurance","rent/bike","rent","hotel","travel","train","transport","itinerary","seasonal/fisi","seasonal","skipass","skipass/promo-cf"]',
                                                         '["insurance","rent/bike","rent","lesson","lesson/ski","lesson/bike","train","transport","itinerary","seasonal"]',
                                    '["insurance","rent/bike","rent","travel","train","transport","itinerary","seasonal/maestri","seasonal","skipass","skipass/promo-cf"]',
        '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","travel","train","transport","itinerary","seasonal/maestri","seasonal","skipass"]',
                            '["insurance","rent/bike","rent","hotel","travel","train","transport","itinerary","seasonal/maestri","seasonal","skipass","skipass/promo-cf"]',
 '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","hotel","transport","itinerary","seasonal/fisi","seasonal","skipass","skipass/promo-cf"]',
                                     '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","travel","train","transport","itinerary","seasonal"]',
                 '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","hotel","transport","itinerary","seasonal/maestri","seasonal","skipass"]',
                                                 '["insurance","rent/bike","rent","lesson","lesson/ski","lesson/bike","hotel","train","transport","itinerary","seasonal"]',
                    '["insurance","rent","rent/ski","rent/bike","lesson","lesson/ski","lesson/bike","hotel","transport","itinerary","seasonal/fisi","seasonal","skipass"]']
Length: 129, dtype: string

In [61]:
# Read and fix
import numpy as np

profiles_df = pd.read_csv(profiles_in_path,
                       keep_default_na=False,
                       na_values=NA_VALUES, # assign the ones previously defined
                       dtype={
                           'user.uid': 'string',
                           'profile.uid': 'string',
                           'birthday': 'string',
                           'sex': 'string',
                           'city': 'string',
                           'height': 'Float64',
                           'weight': 'Float64',
                           'skibootsSize': 'Float64',
                           'level': 'string',
                           'types': 'string'
                       }
                       )

profiles_df['birthday'] = pd.to_datetime(profiles_df['birthday'])

def clean_profile_sex(sex: str) -> str | None:
    clean = u.clean_str(sex, 'upper')
    if clean in ['M', 'F']:
        return clean
    elif clean == ['UOMO', 'MASCHIO']:
        return 'M'
    elif clean == ['DONNA', 'FEMMINA']:
        return 'F'
    else:
        None
profiles_df['sex'] = (profiles_df['sex']
                      .apply(lambda x:
                             clean_profile_sex(x)
                             if pd.notnull(x)
                             else None
                             )
                      )

profiles_df['city'] = (profiles_df['city']
                    .apply(lambda x:
                           u.clean_str(x, 'lower')
                           if pd.notnull(x)
                           else None
                           )
                    )
profiles_df['city'] = profiles_df['city'].apply(
    lambda x: fix_text(x) if not (str(x).strip() in NA_VALUES) else x
)

profiles_df.loc[ (safeload_profiles_df['height'] < 50) | (safeload_profiles_df['height'] > 250),
                'height'] = np.nan

def correct_weight_column(df, col='weight'):
    df[col] = pd.to_numeric(df[col], errors='coerce') 
    df[col] = df[col].apply(lambda w: w / 2.205 if w > 160 else w)
    df.loc[df[col] < 13, col] = np.nan
    return df
profiles_df = correct_weight_column(profiles_df)

profiles_df['types'] = (profiles_df['types']
                              .apply(lambda x:
                                     u.get_list_from_str(x)
                                     if pd.notnull(x)
                                     else []
                                     )
                              )

In [62]:
# CHECK Primary Key VALIDITY

# SELECT count(1) as num_rows
# FROM profiles_df
# WHERE profile.uid IS NULL

display(
    profiles_df
    .loc[lambda tbl: tbl['profile.uid'].isnull()]
    .assign(aux=1.0)
    .shape[0]
)

# SELECT profile.uid, count(1) as num_rows
# FROM profiles_df
# GROUP BY profile.id
# HAVING num_rows > 1

display(
    profiles_df
    .assign(aux=1.0)
    .groupby(['profile.uid'], dropna=False)
    .agg(num_rows=('aux', pd.Series.count))
    .loc[lambda tbl: tbl['num_rows'] > 1]
)

0

Empty DataFrame
Columns: [num_rows]
Index: []

In [63]:
# CHECK Foreign Key VALIDITY

# SELECT
#   A.user.uid,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT user.uid
#   FROM profiles_df
#   WHERE user.uid IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT user.uid, 1.0 AS in_users
#   FROM users_df) AS B
#   ON A.user.uid = B.user.uid
# GROUP BY in_users
# HAVING num_rows > 1

(profiles_df
 [['user.uid']]
 .loc[lambda tbl: tbl['user.uid'].notnull()]
 .drop_duplicates()
 .merge(users_df[['user.uid']].assign(in_users=1.0),
        how='left',
        on='user.uid'
        )
 .assign(aux=1.0)
 .groupby(['in_users'], dropna=False)
 .agg(num_rows=('aux', pd.Series.count))
 .loc[lambda tbl: tbl['num_rows'] > 1]
)

          num_rows
in_users
1.0          46026
NaN          18212

In [64]:
# issue: I have 18212 profiles with a userID that is not matched with an official one !

In [65]:
# let's visualize these 18212 profiles

# SELECT
#   A.user.uid,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT user.uid
#   FROM profiles_df
#   WHERE user.uid IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT user.uid, 1.0 AS in_users
#   FROM users_df) AS B
#   ON A.user.uid = B.user.uid
# WHERE
#   in_users IS NULL

(profiles_df
 [['user.uid']]
 .loc[lambda tbl: tbl['user.uid'].notnull()]
 .drop_duplicates()
 .merge(users_df[['user.uid']].assign(in_users=1.0),
        how='left',
        on='user.uid'
        )
 .loc[lambda tbl: tbl['in_users'].isnull()]
)

                         user.uid  in_users
0      tvvgjd4sdgfucn33brkigrnjjv       NaN
2      bmgilq4eatrpt2hhwamnbcqnir       NaN
3      ysbrr5ve9azqvr1jw72expbnxr       NaN
4      txy3ls535wzclygjnlt2gjalm1       NaN
5      f73bpmavwla9pho2qpgi5n7cdx       NaN
...                           ...       ...
64149  mtlnpaw38weptp9pmbbyifknko       NaN
64164  jpkst6ew69gkluh7in43m4ohvs       NaN
64166  smqgdbfhyofngnjqth4bglwax7       NaN
64217  pzffry3ps6aagidfvisp89giam       NaN
64219  34w1omc2f7fskwlhteltqcomrc       NaN

[18212 rows x 2 columns]

In [66]:
# from the table printed before I select just the column ['user.uid'],
# those IDs without a correspondence in the users_df
profile_fail_useruids = (profiles_df
    [['user.uid']]
    .loc[lambda tbl: tbl['user.uid'].notnull()]
    .drop_duplicates()
    .merge(users_df[['user.uid']].assign(in_users=1.0),
            how='left',
            on='user.uid'
            )
    .loc[lambda tbl: tbl['in_users'].isnull()]
    ['user.uid']
)
display(profile_fail_useruids)

# extract now the profiles with "inconsistent" 'user.uid'
profile_fail_useruid_df = profiles_df.loc[lambda tbl: tbl['user.uid'].isin(profile_fail_useruids)]
display(profile_fail_useruid_df)

0        tvvgjd4sdgfucn33brkigrnjjv
2        bmgilq4eatrpt2hhwamnbcqnir
3        ysbrr5ve9azqvr1jw72expbnxr
4        txy3ls535wzclygjnlt2gjalm1
5        f73bpmavwla9pho2qpgi5n7cdx
                    ...
64149    mtlnpaw38weptp9pmbbyifknko
64164    jpkst6ew69gkluh7in43m4ohvs
64166    smqgdbfhyofngnjqth4bglwax7
64217    pzffry3ps6aagidfvisp89giam
64219    34w1omc2f7fskwlhteltqcomrc
Name: user.uid, Length: 18212, dtype: string

,user.uid,profile.uid,birthday,sex,city,height,weight,skibootsSize,level,types
0,tvvgjd4sdgfucn33brkigrnjjv,9oqhfw0zsc5prlkwh9gk,2000-05-23,M,zwolle,180.0,70.0,43.0,beginner,"[""insurance"", ""rent"", ""rent/ski"", ""rent/bike"",..."
2,bmgilq4eatrpt2hhwamnbcqnir,vi88jcuymkmxkandvy3l,1992-05-06,F,z√ºrich,<NA>,NaN,<NA>,intermediate,"[""insurance"", ""rent/bike"", ""rent"", ""lesson"", ""..."
3,ysbrr5ve9azqvr1jw72expbnxr,p54s6m0hejd4nucibz4e,1998-02-16,F,zurich,161.0,56.0,38.0,beginner,"[""insurance"", ""rent"", ""rent/ski"", ""rent/bike"",..."
4,ysbrr5ve9azqvr1jw72expbnxr,zkzpf8fnha6s4kmc2rwn,1994-05-12,M,zurich,180.0,80.0,45.0,beginner,"[""insurance"", ""rent"", ""rent/ski"", ""rent/bike"",..."
5,txy3ls535wzclygjnlt2gjalm1,bqnrhm4itmwhofvxxxqh,1979-12-09,M,zur moshe,180.0,75.0,43.0,beginner,"[""insurance"", ""rent"", ""rent/ski"", ""rent/bike"",..."
...,...,...,...,...,...,...,...,...,...,...
97043,smqgdbfhyofngnjqth4bglwax7,ib1un3kn23p8dn5jso3e,2018-09-04,M,albosaggia,118.0,20.0,29.0,beginner,"[""insurance"", ""rent"", ""rent/ski"", ""rent/bike"",..."
97044,smqgdbfhyofngnjqth4bglwax7,ah904epxoefqvk2slt6k,2018-09-04,M,albosaggia,118.0,20.0,29.0,beginner,"[""insurance"", ""rent"", ""rent/ski"", ""rent/bike"",..."
97097,dyz1ivjmcym14jagwuyjnhtrz7,mdqipvzojgtgsajxjtlx,1999-10-05,None,aidone,155.0,55.0,36.0,<NA>,"[""insurance"", ""rent/bike"", ""rent"", ""travel"", ""..."
97126,pzffry3ps6aagidfvisp89giam,mbpgeblzb2t0bylyrhww,2003-10-17,M,acquedolci,167.0,60.0,39.0,intermediate,"[""insurance"", ""rent"", ""rent/ski"", ""rent/bike"",..."
97129,34w1omc2f7fskwlhteltqcomrc,a3uvbr9wxao9vuiilw6b,2005-04-16,F,acicastello,177.0,65.0,40.0,beginner,"[""insurance"", ""rent"", ""rent/ski"", ""rent/bike"",..."

In [67]:
# FIX Foreing Key ISSUE: remove them ! 
profiles_df.drop(list(profile_fail_useruid_df.index), inplace=True)

In [68]:
display(
    profiles_df
    [['user.uid']]
    .loc[lambda tbl: tbl['user.uid'].notnull()]
    .drop_duplicates()
    .merge(users_df[['user.uid']].assign(in_users=1.0),
            how='left',
            on='user.uid'
            )
    .assign(aux=1.0)
    .groupby(['in_users'], dropna=False)
    .agg(num_rows=('aux', pd.Series.count))
    .loc[lambda tbl: tbl['num_rows'] > 1]
)
# now, as expected, I don't have null values after the left join

          num_rows
in_users
1.0          46026

## Load Cards

In [69]:
safeload_cards_df = pd.read_csv(cards_in_path,
                                dtype='string',
                                na_values=[],
                                keep_default_na=False
                                )

In [70]:
safeload_cards_df.columns

Index(['card.uid', 'assignedAt', 'birthday', 'status', 'user.uid'], dtype='object')

In [71]:
safeload_cards_df.shape

(805837, 5)

In [72]:
col_to_check = 'card.uid'
safeload_cards_df[col_to_check].unique()
# since this length is lower than the dimension,
# it means that either some ids are null or some ids are not unique

<StringArray>
['00000001', '00000011', '00000022', '00000033', '00000044', '00000055',
 '00000066', '00000077', '00000088', '00000099',
 ...
 '99131935', '99131946', '99131957', '99131968', '99131979', '99131980',
 '99131991', '99999995', '99999997', '99999999']
Length: 710917, dtype: string

In [73]:
col_to_check = 'card.uid'
num_nulls = safeload_cards_df[col_to_check].isnull().sum()
print(f"Null values in '{col_to_check}': {num_nulls}")
# there are some duplicates

Null values in 'card.uid': 0

In [74]:
dupe_key = safeload_cards_df['card.uid'].duplicated(keep=False)
dupe_full = safeload_cards_df.duplicated(keep=False)

conflicting_rows = safeload_cards_df[dupe_key & ~dupe_full]
print(conflicting_rows)

# if card.uid has a duplicate, then the full row is a duplicate

Empty DataFrame
Columns: [card.uid, assignedAt, birthday, status, user.uid]
Index: []

In [75]:
col_to_check = 'user.uid'
safeload_cards_df[col_to_check].unique()
# as expected, the number of unique user ids is inferior to the number of cards,
# since the same user can activate cards for others

<StringArray>
['6m8fx3mvanac7bcltkx79lbxjs', 'ogv7xt7089clwmbgmtam35zvjq',
 'naxfhkqjhcqrx3nv6ge9kxenth',                           '',
 '70uymyvsxtusxwrrgva0bfen8q', '9w4drnej3ixwqtwkixk94r7rdn',
 'ujp5e6dtw9cvituayhlvevvdk6', 'mlwkfozqeefazgmboia8hxxkj1',
 'uhxdpccr8npu3lljw9osf0vlwy', '78nvha6ci7nldfizzhmdxaodqr',
 ...
 'mmp6yjfsqbudllov893ysyt3ke', 'ridpfdmnd9oqmqmx2eet14mwzh',
 'nntnw7pjnuqrtb07kkdi09ukvl', 't0yezkfzeuhfhqfmdvdshrvwva',
 'qeoinqsbzbdkho47uudymbmi8q', 'dov2d9ymmdwz1umyvj4c07amox',
 'm3a4kh3q78tvvqidugyqxw0rna', 'a3k15nzfzmrmklnnpkuonacrwf',
 'abpz5y53frcqdfc9nl5ojj1uzi', 'cfui0h9ooqogedmrpsdedq4b7k']
Length: 161029, dtype: string

In [76]:
col_to_check = 'assignedAt'
safeload_cards_df[col_to_check].unique()

<StringArray>
['2025-02-01', '2023-03-13', '2022-01-14',           '', '2018-01-03',
 '2017-12-20', '2018-01-07', '2019-02-08', '2019-12-14', '2019-11-25',
 ...
 '2024-08-29', '2024-07-27', '2024-08-21', '2024-05-13', '2024-08-02',
 '2024-06-07', '2023-04-20', '2024-07-20', '2021-09-17', '2022-06-23']
Length: 1775, dtype: string

In [77]:
col_to_check = 'birthday'
safeload_cards_df[col_to_check].unique()

<StringArray>
['2018-07-02', '1985-02-21', '1985-09-28',           '', '2008-12-31',
 '2004-10-16', '1992-11-12', '1999-05-19', '1975-01-09', '1995-05-08',
 ...
 '1951-09-13', '1950-01-08', '1951-01-19', '1955-11-20', '2019-09-19',
 '1956-04-16', '1963-04-14', '1950-12-19', '1955-02-02', '2018-02-11']
Length: 25266, dtype: string

In [78]:
col_to_check = 'status'
safeload_cards_df[col_to_check].unique()

<StringArray>
[     'pending', 'not-assigned',        'valid',     'rejected',
      'warning',   'membership',        'error']
Length: 7, dtype: string

In [79]:
# Read and fix
import numpy as np

cards_df = pd.read_csv(cards_in_path,
                       keep_default_na=False,
                       na_values=NA_VALUES, # assign the ones previously defined
                       dtype={
                           'user.uid': 'string',
                           'card.uid': 'string',
                           'assignedAt': 'string',
                           'birthday': 'string',
                           'status': 'string',
                       }
                       )

cards_df = cards_df.drop_duplicates()

cards_df['assignedAt'] = pd.to_datetime(cards_df['assignedAt'])

cards_df['birthday'] = pd.to_datetime(cards_df['birthday'], format='mixed')

In [80]:
# CHECK Primary Key VALIDITY

# SELECT count(1) as num_rows
# FROM cards_df
# WHERE cards.uid IS NULL

display(
    cards_df
    .loc[lambda tbl: tbl['card.uid'].isnull()]
    .assign(aux=1.0)
    .shape[0]
)
# SELECT card.uid, count(1) as num_rows
# FROM cards_df
# GROUP BY cards.uid
# HAVING num_rows > 1

display(
    cards_df
    .assign(aux=1.0)
    .groupby(['card.uid'], dropna=False)
    .agg(num_rows=('aux', pd.Series.count))
    .loc[lambda tbl: tbl['num_rows'] > 1]
)

0

Empty DataFrame
Columns: [num_rows]
Index: []

In [81]:
# CHECK Foreign Key VALIDITY

# SELECT
#   A.user.uid,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT user.uid
#   FROM cards_df
#   WHERE user.uid IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT user.uid, 1.0 AS in_users
#   FROM users_df) AS B
#   ON A.user.uid = B.user.uid
# GROUP BY in_users
# HAVING num_rows > 1

(cards_df
 [['user.uid']]
 .loc[lambda tbl: tbl['user.uid'].notnull()]
 .drop_duplicates()
 .merge(users_df[['user.uid']].assign(in_users=1.0),
        how='left',
        on='user.uid'
        )
 .assign(aux=1.0)
 .groupby(['in_users'], dropna=False)
 .agg(num_rows=('aux', pd.Series.count))
 .loc[lambda tbl: tbl['num_rows'] > 1]
)

          num_rows
in_users
1.0         111687
NaN          49341

In [82]:
# issue, I have 49341 cards with an empty left join with the user.uid table
# let's visualize these 49341 profiles

In [83]:
# SELECT
#   A.user.uid,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT user.uid
#   FROM cards_df
#   WHERE user.uid IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT user.uid, 1.0 AS in_users
#   FROM users_df) AS B
#   ON A.user.uid = B.user.uid
# WHERE
#   in_users IS NULL

(cards_df
 [['user.uid']]
 .loc[lambda tbl: tbl['user.uid'].notnull()]
 .drop_duplicates()
 .merge(users_df[['user.uid']].assign(in_users=1.0),
        how='left',
        on='user.uid'
        )
 .loc[lambda tbl: tbl['in_users'].isnull()]
)

                          user.uid  in_users
0       6m8fx3mvanac7bcltkx79lbxjs       NaN
5       ujp5e6dtw9cvituayhlvevvdk6       NaN
6       mlwkfozqeefazgmboia8hxxkj1       NaN
13      qdre60bu5yqy1socrinaqpwjpw       NaN
20      ip7sunw40nzhy7hhqvoe4pbtvy       NaN
...                            ...       ...
161008  pwdzotpiuumlsgcxnbodsqqmon       NaN
161010  k9meaohmztomnopznzzbcdorqt       NaN
161013  qod9geqy2yyqosu2xrjyatbsvq       NaN
161014  nvezbqfonuzshthd38g3ajjopo       NaN
161026  abpz5y53frcqdfc9nl5ojj1uzi       NaN

[49341 rows x 2 columns]

In [84]:
# from the table printed before I select just the column ['user.uid'],
# those IDs without a correspondence in the users_df
card_fail_useruids = (cards_df
    [['user.uid']]
    .loc[lambda tbl: tbl['user.uid'].notnull()]
    .drop_duplicates()
    .merge(users_df[['user.uid']].assign(in_users=1.0),
            how='left',
            on='user.uid'
            )
    .loc[lambda tbl: tbl['in_users'].isnull()]
    ['user.uid']
)
display(card_fail_useruids)

0         6m8fx3mvanac7bcltkx79lbxjs
5         ujp5e6dtw9cvituayhlvevvdk6
6         mlwkfozqeefazgmboia8hxxkj1
13        qdre60bu5yqy1socrinaqpwjpw
20        ip7sunw40nzhy7hhqvoe4pbtvy
                     ...
161008    pwdzotpiuumlsgcxnbodsqqmon
161010    k9meaohmztomnopznzzbcdorqt
161013    qod9geqy2yyqosu2xrjyatbsvq
161014    nvezbqfonuzshthd38g3ajjopo
161026    abpz5y53frcqdfc9nl5ojj1uzi
Name: user.uid, Length: 49341, dtype: string

In [85]:
# extract now the profiles with "inconsistent" 'user.uid'
card_fail_useruid_df = cards_df.loc[lambda tbl: tbl['user.uid'].isin(card_fail_useruids)]
display(card_fail_useruid_df)

# FIX Foreing Key ISSUE: remove them ! 
cards_df.drop(list(card_fail_useruid_df.index), inplace=True)

display(
    cards_df
    [['user.uid']]
    .loc[lambda tbl: tbl['user.uid'].notnull()]
    .drop_duplicates()
    .merge(users_df[['user.uid']].assign(in_users=1.0),
            how='left',
            on='user.uid'
            )
    .assign(aux=1.0)
    .groupby(['in_users'], dropna=False)
    .agg(num_rows=('aux', pd.Series.count))
    .loc[lambda tbl: tbl['num_rows'] > 1]
)
# now, as expected, I don't have null values after the left join

        card.uid assignedAt   birthday   status                    user.uid
0       00000001 2025-02-01 2018-07-02  pending  6m8fx3mvanac7bcltkx79lbxjs
7       00000077 2017-12-20        NaT  pending  ujp5e6dtw9cvituayhlvevvdk6
8       00000088 2018-01-07        NaT  pending  mlwkfozqeefazgmboia8hxxkj1
12      00000125 2020-01-02        NaT  pending  ujp5e6dtw9cvituayhlvevvdk6
13      00000136 2020-01-19        NaT  pending  ujp5e6dtw9cvituayhlvevvdk6
...          ...        ...        ...      ...                         ...
805346  99127121 2022-03-11 1990-11-11  pending  oa88nzwvnfqifqhhuegnizcuzk
805347  99127132 2022-12-29 1996-02-21  pending  nvezbqfonuzshthd38g3ajjopo
805369  99127350 2024-12-27 2016-01-01    valid  oa88nzwvnfqifqhhuegnizcuzk
805736  99131027 2024-01-19 1965-04-23  pending  abpz5y53frcqdfc9nl5ojj1uzi
805806  99131728 2022-01-28 1995-10-14  pending  xtaom20duhpf4r3mrkxks12ifk

[84394 rows x 5 columns]

          num_rows
in_users
1.0         111687

## Load Orders

In [86]:
safeload_orders_df = pd.read_csv(orders_in_path,
                                 dtype='string',
                                 na_values=[],
                                 keep_default_na=False
                                )

In [87]:
safeload_orders_df.columns

Index(['order.uid', 'user.uid', 'createdAt', 'createdAtTime', 'paymentGateway',
       'paymentBrand', 'pickup', 'pickupComplete', 'source', 'tenant',
       'paymentAttempts', 'timeZone', 'clientInfo'],
      dtype='object')

In [88]:
safeload_orders_df.shape

(549900, 13)

In [89]:
col_to_check = 'order.uid'
safeload_orders_df[col_to_check].unique()

<StringArray>
['4y9zqqvldfqr9n2xnu', 'termljwsr2gecnzwks', 'ko8axscf5grobnz9in',
 'tu8b9haokkimu72aza', 'a8mvwuv6ileh9aqblu', 'kmwabdpnhtm46p8me8',
 'i9eovtgp3uxbmesebv', 'nsc55zfspubshggcm5', 'ltr5f48gwicqwcnzkf',
 'eyx8wesrjaeltlgqna',
 ...
 '5f8he6aq0sbnmrrwzq', 'g0tkwbe686jnynbxs9', 'aoud70hexrj3uryxmd',
 'h0vb0rmb2mk4c7s3tv', 'v1obzy9nwp99nanhue', '6icnjfrltzhdi2eato',
 '4n6z8api7q0cz8jxox', 'pdubfidjsudk9mhwdc', 'f8zj28hdatvraibekk',
 'wy69h8jsgozdrxlu9i']
Length: 549900, dtype: string

In [90]:
col_to_check = 'user.uid'
safeload_orders_df[col_to_check].unique()

<StringArray>
['nu7fhz41rzwbkabapcufr6g18r', 'ghol7lwjlhewwvasejlxa9fv00',
 'nhuh3scqoktj6n5mnqkvgyh43h', 'oyekz0wyxcplvrpencpuue6sdt',
 '1p0ocryxz4ts2wtsi1bawtjndt', 'hkxsbgefntzwsodvj3ztvp3gm1',
 'j7dlvmya0aazq8muvzafu1ezmo', 'wbg4irhu8cts7vqtzmx6f8xwg7',
 'angticjoeipyve4gpwgwd7nv53', 'd27f4w0n0sys7hpxdedthm0q1s',
 ...
 'ri3lqgshwnyc7tqb1ray1mvllb', '9nla4hgs9ofnyltgwookj3vm2x',
 'wsunenfdtesnbkfiqjhahhsofp', 'thsfr16jtgrj9bdvczskbxftdf',
 'kdepdh8lsiroc3uxvejhsjivcs', 'yzddjkp8wkrghj6ni6x9qxiwgd',
 '45lbumns5lqxr9x0ajdxdaz7vl', 'dwd3dybliaxryowwsadkmliluw',
 'asyeuoax8uaw3np3tlyxpcfxzm', 'wfsihoehobxkipt3731virtjqq']
Length: 231717, dtype: string

In [91]:
col_to_check = 'createdAt'
safeload_orders_df[col_to_check].unique()

<StringArray>
['2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05',
 '2024-07-06', '2024-07-07', '2024-07-08', '2024-07-09', '2024-07-10',
 ...
 '2022-07-10', '2022-07-09', '2022-07-08', '2022-07-07', '2022-07-06',
 '2022-07-05', '2022-07-04', '2022-07-03', '2022-07-02', '2022-07-01']
Length: 957, dtype: string

In [92]:
col_to_check = 'createdAtTime'
safeload_orders_df[col_to_check].unique()

<StringArray>
['2024-07-01 19:41:44', '2024-07-01 18:34:12', '2024-07-01 16:08:26',
 '2024-07-01 16:02:11', '2024-07-01 15:46:12', '2024-07-01 09:01:16',
 '2024-07-01 08:56:34', '2024-07-01 08:45:56', '2024-07-01 08:39:48',
 '2024-07-01 08:33:35',
 ...
 '2022-07-01 18:56:40', '2022-07-01 18:22:27', '2022-07-01 16:12:06',
 '2022-07-01 14:08:23', '2022-07-01 12:43:26', '2022-07-01 11:41:06',
 '2022-07-01 09:52:34', '2022-07-01 09:06:21', '2022-07-01 07:27:10',
 '2022-07-01 06:36:05']
Length: 536393, dtype: string

In [93]:
col_to_check = 'paymentGateway'
safeload_orders_df[col_to_check].unique()

<StringArray>
['stripe', 'discount', 'welfare', 'scalapay', 'coupon', 'satispay']
Length: 6, dtype: string

In [94]:
col_to_check = 'paymentBrand'
safeload_orders_df[col_to_check].unique()

<StringArray>
['visa', '', 'mastercard', 'amex', 'diners', 'discover', 'unionpay']
Length: 7, dtype: string

In [95]:
col_to_check = 'pickup'
safeload_orders_df[col_to_check].unique()

<StringArray>
['False', 'True']
Length: 2, dtype: string

In [96]:
col_to_check = 'pickupComplete'
safeload_orders_df[col_to_check].unique()

<StringArray>
['False', 'True']
Length: 2, dtype: string

In [97]:
col_to_check = 'source'
safeload_orders_df[col_to_check].unique()

<StringArray>
['website', 'app', '']
Length: 3, dtype: string

In [98]:
col_to_check = 'tenant'
safeload_orders_df[col_to_check].unique()

<StringArray>
[ 'snowit_esterno',         'tribala',       'discovera',          'snowit',
  'bikeit_esterno',          'bikeit',  'snowit_welfare',  'bikeit_welfare',
 'tribala_esterno', 'tribala_welfare',                '']
Length: 11, dtype: string

In [99]:
col_to_check = 'paymentAttempts'
safeload_orders_df[col_to_check].unique()

<StringArray>
[ '2',  '1',  '3',  '4',  '5', '11',  '6',  '7', '10',  '8',  '9', '13', '22',
 '12', '16', '14', '19', '18', '17', '26', '21', '15', '25', '34', '23', '24',
 '31']
Length: 27, dtype: string

In [100]:
col_to_check = 'timeZone'
safeload_orders_df[col_to_check].unique()

<StringArray>
['', 'Europe/Rome']
Length: 2, dtype: string

In [101]:
col_to_check = 'clientInfo'
safeload_orders_df[col_to_check].unique()

<StringArray>
[                                           '{"browser":{"major":"126","name":"Chrome","version":"126.0.0.0"},"cpu":{"architecture":"amd64"},"device":{"model":null,"type":null,"vendor":null},"engine":{"name":"Blink","version":"126.0.0.0"},"os":{"name":"Windows","version":"10"},"ua":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}',
 '{"browser":{"major":"126","name":"Chrome","version":"126.0.6478.153"},"cpu":{"architecture":null},"device":{"model":"iPhone","type":"mobile","vendor":"Apple"},"engine":{"name":"WebKit","version":"605.1.15"},"os":{"name":"iOS","version":"17.5"},"ua":"Mozilla/5.0 (iPhone; CPU iPhone OS 17_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/126.0.6478.153 Mobile/15E148 Safari/604.1"}',
                           '{"browser":{"major":"126","name":"Chrome","version":"126.0.0.0"},"cpu":{"architecture":null},"device":{"model":"Macintosh","type":null,"vendor":"Apple"},"engine":{"name":"Blink","version":"126.0.0.0"},"os":{"name":"Mac OS","version":"10.15.7"},"ua":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}',
                                            '{"browser":{"major":"125","name":"Chrome","version":"125.0.0.0"},"cpu":{"architecture":"amd64"},"device":{"model":null,"type":null,"vendor":null},"engine":{"name":"Blink","version":"125.0.0.0"},"os":{"name":"Windows","version":"10"},"ua":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"}',
                           '{"browser":{"major":"125","name":"Chrome","version":"125.0.0.0"},"cpu":{"architecture":null},"device":{"model":"Macintosh","type":null,"vendor":"Apple"},"engine":{"name":"Blink","version":"125.0.0.0"},"os":{"name":"Mac OS","version":"10.15.7"},"ua":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"}',
         '{"browser":{"major":"17","name":"Mobile Safari","version":"17.5"},"cpu":{"architecture":null},"device":{"model":"iPhone","type":"mobile","vendor":"Apple"},"engine":{"name":"WebKit","version":"605.1.15"},"os":{"name":"iOS","version":"17.5.1"},"ua":"Mozilla/5.0 (iPhone; CPU iPhone OS 17_5_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.5 Mobile/15E148 Safari/604.1"}',
                                                                                                                                               '{"browser":{"major":null,"name":null,"version":null},"cpu":{"architecture":null},"device":{"model":null,"type":null,"vendor":null},"engine":{"name":null,"version":null},"os":{"name":"iOS","version":null},"ua":"Snowit/1 CFNetwork/1494.0.7 Darwin/23.4.0"}',
                                            '{"browser":{"major":"126","name":"Chrome","version":"126.0.0.0"},"cpu":{"architecture":null},"device":{"model":"K","type":"mobile","vendor":null},"engine":{"name":"Blink","version":"126.0.0.0"},"os":{"name":"Android","version":"10"},"ua":"Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Mobile Safari/537.36"}',
                                                                                                                                               '{"browser":{"major":null,"name":null,"version":null},"cpu":{"architecture":null},"device":{"model":null,"type":null,"vendor":null},"engine":{"name":null,"version":null},"os":{"name":"iOS","version":null},"ua":"Snowit/1 CFNetwork/1410.0.3 Darwin/22.6.0"}',
                                 '{"browser":{"major":"17","name":"Safari","version":"17.5"},"cpu":{"architecture":null},"device":{"model":"Macintosh","type":null,"vendor":"Apple"},"engine":{"name":"WebKit","version":"605.1.15"},"os":{"name":"Mac OS","version":"10.15.7"},"ua":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.5 Safari/605.1.15"}',
 ...
                '{"browser":{"major":"103","name":"Edge","version":"103.0.1264.37"},"cpu":{"architecture":"amd64"},"device":{"model":null,"type":null,"vendor":null},"engine":{"name":"Blink","version":"103.0.5060.53"},"os":{"name":"Windows","version":"10"},"ua":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.53 Safari/537.36 Edg/103.0.1264.37"}',
                            '{"browser":{"major":"87","name":"Chrome","version":"87.0.4280.141"},"cpu":{"architecture":null},"device":{"model":null,"type":null,"vendor":null},"engine":{"name":"Blink","version":"87.0.4280.141"},"os":{"name":"Mac OS","version":"12.2.1"},"ua":"Mozilla/5.0 (Macintosh; Intel Mac OS X 12_2_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36"}',
                              '{"browser":{"major":"103","name":"Chrome","version":"103.0.0.0"},"cpu":{"architecture":null},"device":{"model":"M2102K1G","type":"mobile","vendor":null},"engine":{"name":"Blink","version":"103.0.0.0"},"os":{"name":"Android","version":"12"},"ua":"Mozilla/5.0 (Linux; Android 12; M2102K1G) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Mobile Safari/537.36"}',
                '{"browser":{"major":"102","name":"Chrome","version":"102.0.0.0"},"cpu":{"architecture":null},"device":{"model":"Mi Note 10 Lite","type":"mobile","vendor":null},"engine":{"name":"Blink","version":"102.0.0.0"},"os":{"name":"Android","version":"12"},"ua":"Mozilla/5.0 (Linux; Android 12; Mi Note 10 Lite) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Mobile Safari/537.36"}',
                                                                   '{"browser":{"major":"605","name":"WebKit","version":"605.1.15"},"cpu":{"architecture":null},"device":{"model":null,"type":null,"vendor":null},"engine":{"name":"WebKit","version":"605.1.15"},"os":{"name":"Mac OS","version":"10.15.6"},"ua":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko)"}',
              '{"browser":{"major":"101","name":"Firefox","version":"101.1"},"cpu":{"architecture":null},"device":{"model":"iPhone","type":"mobile","vendor":"Apple"},"engine":{"name":"WebKit","version":"605.1.15"},"os":{"name":"iOS","version":"15.5"},"ua":"Mozilla/5.0 (iPhone; CPU iPhone OS 15_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) FxiOS/101.1  Mobile/15E148 Safari/605.1.15"}',
                      '{"browser":{"major":"102","name":"Chrome","version":"102.0.5005.115"},"cpu":{"architecture":null},"device":{"model":null,"type":null,"vendor":null},"engine":{"name":"Blink","version":"102.0.5005.115"},"os":{"name":"Mac OS","version":"10.13.6"},"ua":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.5005.115 Safari/537.36"}',
                          '{"browser":{"major":"85","name":"Chrome","version":"85.0.4183.81"},"cpu":{"architecture":null},"device":{"model":"MRD-LX1","type":"mobile","vendor":null},"engine":{"name":"Blink","version":"85.0.4183.81"},"os":{"name":"Android","version":"9"},"ua":"Mozilla/5.0 (Linux; Android 9; MRD-LX1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.81 Mobile Safari/537.36"}',
                     '{"browser":{"major":"102","name":"Chrome","version":"102.0.0.0"},"cpu":{"architecture":null},"device":{"model":"o","type":"mobile","vendor":"Motorola"},"engine":{"name":"Blink","version":"102.0.0.0"},"os":{"name":"Android","version":"8.0.0"},"ua":"Mozilla/5.0 (Linux; Android 8.0.0; Moto Z2 Play) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Mobile Safari/537.36"}',
                                                                               '{"browser":{"major":"101","name":"Firefox","version":"101.0"},"cpu":{"architecture":null},"device":{"model":null,"type":null,"vendor":null},"engine":{"name":"Gecko","version":"101.0"},"os":{"name":"Mac OS","version":"10.15"},"ua":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:101.0) Gecko/20100101 Firefox/101.0"}']
Length: 12284, dtype: string

In [102]:
# Read and fix
import numpy as np

orders_df = pd.read_csv(orders_in_path,
                       keep_default_na=False,
                       na_values=NA_VALUES, # assign the ones previously defined
                       dtype={
                           'user.uid': 'string',
                           'order.uid': 'string',
                           'createdAt': 'string',
                           'createdAtTime': 'string',
                           'paymentGateway': 'string',
                           'paymentBrand': 'string',
                           'pickup': 'boolean',
                           'pickupComplete': 'boolean',
                           'source': 'string',
                           'tenant': 'string',
                           'paymentAttempts': 'Int64',
                           'timeZone': 'string',
                           'clientInfo': 'string',
                       }
                       )

orders_df['createdAt'] = pd.to_datetime(orders_df['createdAt'])

orders_df['createdAtTime'] = pd.to_datetime(orders_df['createdAtTime'])

In [103]:
# CHECK Primary Key VALIDITY

# SELECT count(1) as num_rows
# FROM orders_df
# WHERE orders.uid IS NULL

display(
    orders_df
    .loc[lambda tbl: tbl['order.uid'].isnull()]
    .assign(aux=1.0)
    .shape[0]
)

# SELECT order.uid, count(1) as num_rows
# FROM orders_df
# GROUP BY order.uid
# HAVING num_rows > 1

display(
    orders_df
    .assign(aux=1.0)
    .groupby(['order.uid'], dropna=False)
    .agg(num_rows=('aux', pd.Series.count))
    .loc[lambda tbl: tbl['num_rows'] > 1]
)

0

Empty DataFrame
Columns: [num_rows]
Index: []

In [104]:
# CHECK Foreign Key VALIDITY

# SELECT
#   A.user.uid,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT user.uid
#   FROM orders_df
#   WHERE user.uid IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT user.uid, 1.0 AS in_users
#   FROM users_df) AS B
#   ON A.user.uid = B.user.uid
# GROUP BY in_users
# HAVING num_rows > 1

(orders_df
 [['user.uid']]
 .loc[lambda tbl: tbl['user.uid'].notnull()]
 .drop_duplicates()
 .merge(users_df[['user.uid']].assign(in_users=1.0),
        how='left',
        on='user.uid'
        )
 .assign(aux=1.0)
 .groupby(['in_users'], dropna=False)
 .agg(num_rows=('aux', pd.Series.count))
 .loc[lambda tbl: tbl['num_rows'] > 1]
)

          num_rows
in_users
1.0         161266
NaN          70451

In [105]:
# issue, I have 70451 orders with an empty left join with the user.uid table
# let's visualize these 70451 profiles

In [106]:
# SELECT
#   A.user.uid,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT user.uid
#   FROM orders_df
#   WHERE user.uid IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT user.uid, 1.0 AS in_users
#   FROM users_df) AS B
#   ON A.user.uid = B.user.uid
# WHERE
#   in_users IS NULL

(orders_df
 [['user.uid']]
 .loc[lambda tbl: tbl['user.uid'].notnull()]
 .drop_duplicates()
 .merge(users_df[['user.uid']].assign(in_users=1.0),
        how='left',
        on='user.uid'
        )
 .loc[lambda tbl: tbl['in_users'].isnull()]
)

                          user.uid  in_users
1       ghol7lwjlhewwvasejlxa9fv00       NaN
2       nhuh3scqoktj6n5mnqkvgyh43h       NaN
3       oyekz0wyxcplvrpencpuue6sdt       NaN
4       1p0ocryxz4ts2wtsi1bawtjndt       NaN
11      ox5rgm93oezmrqao7lbg05ovyk       NaN
...                            ...       ...
231694  aouwuww0svnywu5f85gmbnbzb5       NaN
231702  jhx8gn3nqje3ztcch1or4yjpnb       NaN
231704  wnnh4uxef0m2il1kys1xbogkry       NaN
231707  ri3lqgshwnyc7tqb1ray1mvllb       NaN
231712  yzddjkp8wkrghj6ni6x9qxiwgd       NaN

[70451 rows x 2 columns]

In [107]:
# from the table printed before I select just the column ['user.uid'],
# those IDs without a correspondence in the users_df
order_fail_useruids = (orders_df
    [['user.uid']]
    .loc[lambda tbl: tbl['user.uid'].notnull()]
    .drop_duplicates()
    .merge(users_df[['user.uid']].assign(in_users=1.0),
            how='left',
            on='user.uid'
            )
    .loc[lambda tbl: tbl['in_users'].isnull()]
    ['user.uid']
)
display(order_fail_useruids)

# extract now the profiles with "inconsistent" 'user.uid'
order_fail_useruid_df = orders_df.loc[lambda tbl: tbl['user.uid'].isin(order_fail_useruids)]
display(order_fail_useruid_df)

1         ghol7lwjlhewwvasejlxa9fv00
2         nhuh3scqoktj6n5mnqkvgyh43h
3         oyekz0wyxcplvrpencpuue6sdt
4         1p0ocryxz4ts2wtsi1bawtjndt
11        ox5rgm93oezmrqao7lbg05ovyk
                     ...
231694    aouwuww0svnywu5f85gmbnbzb5
231702    jhx8gn3nqje3ztcch1or4yjpnb
231704    wnnh4uxef0m2il1kys1xbogkry
231707    ri3lqgshwnyc7tqb1ray1mvllb
231712    yzddjkp8wkrghj6ni6x9qxiwgd
Name: user.uid, Length: 70451, dtype: string

,order.uid,user.uid,createdAt,createdAtTime,paymentGateway,paymentBrand,pickup,pickupComplete,source,tenant,paymentAttempts,timeZone,clientInfo
1,termljwsr2gecnzwks,ghol7lwjlhewwvasejlxa9fv00,2024-07-01,2024-07-01 18:34:12,discount,<NA>,False,False,website,snowit_esterno,1,<NA>,"{""browser"":{""major"":""126"",""name"":""Chrome"",""ver..."
2,ko8axscf5grobnz9in,nhuh3scqoktj6n5mnqkvgyh43h,2024-07-01,2024-07-01 16:08:26,discount,<NA>,False,False,website,snowit_esterno,1,<NA>,"{""browser"":{""major"":""126"",""name"":""Chrome"",""ver..."
3,tu8b9haokkimu72aza,oyekz0wyxcplvrpencpuue6sdt,2024-07-01,2024-07-01 16:02:11,stripe,mastercard,False,False,website,snowit_esterno,2,<NA>,"{""browser"":{""major"":""126"",""name"":""Chrome"",""ver..."
4,a8mvwuv6ileh9aqblu,1p0ocryxz4ts2wtsi1bawtjndt,2024-07-01,2024-07-01 15:46:12,stripe,<NA>,False,False,website,tribala,2,<NA>,"{""browser"":{""major"":""125"",""name"":""Chrome"",""ver..."
5,kmwabdpnhtm46p8me8,nhuh3scqoktj6n5mnqkvgyh43h,2024-07-01,2024-07-01 09:01:16,discount,<NA>,False,False,website,snowit_esterno,1,<NA>,"{""browser"":{""major"":""126"",""name"":""Chrome"",""ver..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
549883,bjzuut5lvj76ad6jbp,wnnh4uxef0m2il1kys1xbogkry,2022-07-01,2022-07-01 21:02:41,discount,<NA>,False,False,website,snowit_esterno,1,Europe/Rome,"{""browser"":{""major"":""102"",""name"":""Chrome"",""ver..."
549884,ur0t4p0hejetoesg3h,wnnh4uxef0m2il1kys1xbogkry,2022-07-01,2022-07-01 20:56:39,discount,<NA>,False,False,website,snowit_esterno,1,Europe/Rome,"{""browser"":{""major"":""102"",""name"":""Chrome"",""ver..."
549886,3unzmjqzzmwgnbil56,iz4qy0qs0qre4g8ndczecyms3s,2022-07-01,2022-07-01 19:51:24,stripe,<NA>,False,False,website,snowit_esterno,1,Europe/Rome,"{""browser"":{""major"":""103"",""name"":""Chrome"",""ver..."
549888,mhosjzeznativvqfnz,ri3lqgshwnyc7tqb1ray1mvllb,2022-07-01,2022-07-01 19:21:13,satispay,<NA>,False,False,website,snowit_esterno,1,Europe/Rome,"{""browser"":{""major"":""15"",""name"":""Mobile Safari..."
549894,v1obzy9nwp99nanhue,yzddjkp8wkrghj6ni6x9qxiwgd,2022-07-01,2022-07-01 12:43:26,discount,<NA>,False,False,website,snowit_esterno,1,Europe/Rome,"{""browser"":{""major"":""91"",""name"":""Firefox"",""ver..."

In [108]:
# FIX Foreing Key ISSUE: remove them ! 
orders_df.drop(list(order_fail_useruid_df.index), inplace=True)

display(
    orders_df
    [['user.uid']]
    .loc[lambda tbl: tbl['user.uid'].notnull()]
    .drop_duplicates()
    .merge(users_df[['user.uid']].assign(in_users=1.0),
            how='left',
            on='user.uid'
            )
    .assign(aux=1.0)
    .groupby(['in_users'], dropna=False)
    .agg(num_rows=('aux', pd.Series.count))
    .loc[lambda tbl: tbl['num_rows'] > 1]
)
# now, as expected, I don't have null values after the left join

          num_rows
in_users
1.0         161266

## Load Order Details

In [109]:
safeload_order_details_df = pd.read_csv(order_details_in_path,
                                        dtype='string',
                                        na_values=[],
                                        keep_default_na=False
                                        )

In [110]:
safeload_order_details_df.columns

Index(['item.uid', 'order.uid', 'item.date', 'product.uid',
       'product.dynamicPricing', 'item.amount', 'item.discount',
       'product.type', 'item.zoneName', 'product.durationHours',
       'item.profiles', 'item.variantName', 'item.slotName',
       'item.snowitcardNumber', 'item.status'],
      dtype='object')

In [111]:
safeload_order_details_df.shape

(1420603, 15)

In [112]:
col_to_check = 'item.uid'
safeload_order_details_df[col_to_check].unique()
# it's reasonable that the dimension is lower than the 'shape' since the same item
# can be associated with more orders

<StringArray>
['rWzvRD0hXOShtjTzx5Ca', 'mmWAugpNnPVHRcePWiiH', 'bShIBhXedPkDTmZpmczI',
 'axrCVxzH7eVW2EbaKHho', '4Neyeg0izzwue8RbJrPH', 'Wf4gfrRUh3ZDYp15NNql',
 'sSPT3hVthnvf2GDryYaD', 'CSbMX1gUCNaU6tx7aPxu', '2RwFbVS1BRIchiqgDQQ1',
 'QihrElx8hg0HK8eKxXL6',
 ...
 '6e6q400crcOwUnyGSGcu', 'oEE4Z1zF7SK4vm0PrMrW', '6YbL5fFmf6QwagnSSEYa',
 'xFgt4Cqaa8Z4nevGOdjD', 'tge44Z5KbElSymEoXQ09', '9ka9Ogu0nyxEkEwKMaNT',
 'xWAoWDvpz1JilvtElDm9', 'Cdhlra1fhDx4vr0xwCeJ', '2Ghwkit8jdMI6HgwutI5',
 'Xf9Njxh1jJNDpBqd7UxV']
Length: 1403655, dtype: string

In [113]:
col_to_check = 'order.uid'
safeload_order_details_df[col_to_check].unique()
# the same order can have more items

<StringArray>
['4y9zqqvldfqr9n2xnu', 'termljwsr2gecnzwks', 'ko8axscf5grobnz9in',
 'tu8b9haokkimu72aza', 'a8mvwuv6ileh9aqblu', 'kmwabdpnhtm46p8me8',
 'i9eovtgp3uxbmesebv', 'nsc55zfspubshggcm5', 'ltr5f48gwicqwcnzkf',
 'eyx8wesrjaeltlgqna',
 ...
 '5f8he6aq0sbnmrrwzq', 'g0tkwbe686jnynbxs9', 'aoud70hexrj3uryxmd',
 'h0vb0rmb2mk4c7s3tv', 'v1obzy9nwp99nanhue', '6icnjfrltzhdi2eato',
 '4n6z8api7q0cz8jxox', 'pdubfidjsudk9mhwdc', 'f8zj28hdatvraibekk',
 'wy69h8jsgozdrxlu9i']
Length: 549900, dtype: string

In [114]:
col_to_check = 'item.status'
safeload_order_details_df[col_to_check].unique()

<StringArray>
['fulfilled', 'canceled', 'transfer', 'ok', 'processing', 'on-hold']
Length: 6, dtype: string

In [115]:
# verify that each triplet (item.uid, order.uid, item.status) is unique

# length
total_rows = len(safeload_order_details_df)

# unique rows with respect to the three columns
unique_rows = safeload_order_details_df.drop_duplicates(subset=['item.uid', 'order.uid', 'item.status']).shape[0]

# check if correspondence
if total_rows == unique_rows:
    print("Dataset is consistent: each triplet is unique")
else:
    print(f"Found {total_rows - unique_rows} duplicates")

Dataset is consistent: each triplet is unique

In [116]:
col_to_check = 'item.date'
safeload_order_details_df[col_to_check].unique()

<StringArray>
['2024-07-05', '2024-12-27', '2024-07-02', '2024-08-30', '2024-07-26',
 '2024-07-01', '2024-07-03', '2024-08-11', '2024-07-04', '2024-10-15',
 ...
 '2022-07-11', '2022-07-10', '2022-07-09', '2022-07-08', '2022-07-07',
 '2022-07-06', '2022-07-05', '2022-07-04', '2022-07-03', '2022-07-02']
Length: 979, dtype: string

In [117]:
col_to_check = 'product.uid'
safeload_order_details_df[col_to_check].unique()

<StringArray>
['OwhliJmMeSCILiMFiKTp',  'form:PO9LFLX23J2024', '9oNSf7M6J7BNWakW2otU',
 'Kh1RLBt3sC5Z6amhRuBn', 'Tv7I6hDcWmu5DWBxN24X', 'we7MOniCQlC4vAgFxE27',
 'DtB2im6mhHILukxObBpO', 'nOiVTAEG48YK62ycSCdu', 'z1g2LhWX3b9VLD57nqUi',
 '9IeTI9YanEx3NKDJpmbJ',
 ...
 '6wu1Xu8TYTHnA3UXjeBu', 'wVf8LHxrSumU7aqpEgEl', 'gw2junAn94xtUbd18iHq',
 'G7WCPsjFcRHtkq6lmfEk', 'wONr18elM8vnXBA1js7E', 'qK6GXLOAZHLM2nUurTsv',
 '8uLIkozKS1UdHd2Z1XlV', '9TYrrypnqRvNRhHhLLKk', 'F5n33TDKva6A0D5kC1eP',
 'iL4iqfl1EwSlixe3nJd6']
Length: 9928, dtype: string

In [118]:
col_to_check = 'product.dynamicPricing'
safeload_order_details_df[col_to_check].unique()

<StringArray>
['False', 'True']
Length: 2, dtype: string

In [119]:
col_to_check = 'item.amount'
safeload_order_details_df[col_to_check].unique()

# since prices are always positive, negative numbers here shown are considered to be bad formatted ones.

<StringArray>
[   '59.5',     '0.0',    '26.0',   '-26.0',   '122.5',    '60.0',     '1.0',
    '-1.0',    '10.0',    '50.0',
 ...
   '22.99',  '1126.0', '-1126.0',  '832.85', '-832.85',  '118.01',   '53.62',
   '76.62',   '69.22',  '2900.0']
Length: 6266, dtype: string

In [120]:
sorted_values = np.sort(safeload_order_details_df[col_to_check].unique())
sorted_values[:500]

array(['-0.01', '-1.0', '-1.5', '-10.0', '-10.4', '-10.5', '-100.0',
       '-100.12', '-100.25', '-100.5', '-100.8', '-1000.0', '-1004.0',
       '-101.0', '-101.15', '-101.25', '-101.7', '-102.0', '-102.5',
       '-102.6', '-102.7', '-102.8', '-103.0', '-103.3', '-103.5',
       '-103.55', '-103.68', '-103.7', '-103.74', '-103.8', '-103.95',
       '-1030.0', '-104.0', '-104.6', '-104.85', '-1040.0', '-1045.0',
       '-105.0', '-105.2', '-105.44', '-105.5', '-1058.0', '-106.0',
       '-106.4', '-106.8', '-107.0', '-107.1', '-107.35', '-107.75',
       '-107.95', '-108.0', '-108.3', '-109.0', '-109.4', '-109.5',
       '-1090.0', '-11.0', '-11.1', '-11.5', '-11.7', '-110.0', '-110.2',
       '-110.3', '-110.5', '-110.7', '-110.75', '-110.8', '-11086.0',
       '-111.0', '-111.2', '-111.5', '-111.75', '-111.8', '-112.0',
       '-112.2', '-112.5', '-1126.0', '-113.0', '-113.35', '-113.75',
       '-114.0', '-114.3', '-114.75', '-115.0', '-115.5', '-115.6',
       '-1150.0', '-116.0', '-116.9', '-1164.52', '-117.0', '-117.1',
       '-117.6', '-117.75', '-118.0', '-118.15', '-118.42', '-118.75',
       '-119.0', '-119.2', '-119.75', '-119.8', '-119.9', '-12.0',
       '-12.35', '-12.5', '-12.6', '-120.0', '-120.44', '-120.75',
       '-1200.0', '-121.0', '-121.85', '-122.75', '-123.0', '-123.3',
       '-123.5', '-123.6', '-123.75', '-1231.0', '-124.0', '-124.2',
       '-124.75', '-124.95', '-125.0', '-125.01', '-125.25', '-125.6',
       '-126.0', '-126.65', '-1260.0', '-127.0', '-127.8', '-127.95',
       '-128.0', '-128.1', '-128.25', '-128.3', '-128.65', '-128.8',
       '-1285.4', '-129.0', '-129.5', '-129.6', '-129.75', '-13.0',
       '-13.5', '-130.0', '-130.15', '-130.5', '-130.8', '-131.0',
       '-131.25', '-131.4', '-131.5', '-131.75', '-132.0', '-132.15',
       '-132.2', '-132.5', '-132.6', '-133.0', '-133.25', '-133.4',
       '-133.45', '-1333.86', '-134.0', '-134.3', '-134.9', '-1340.0',
       '-1348.35', '-1348.72', '-135.0', '-135.45', '-136.0', '-136.3',
       '-136.8', '-136.85', '-137.0', '-137.37', '-137.7', '-137.8',
       '-137.9', '-138.0', '-138.24', '-138.7', '-138.85', '-1380.56',
       '-139.0', '-139.4', '-139.5', '-139.8', '-14.0', '-14.4', '-14.5',
       '-140.0', '-140.25', '-140.31', '-140.4', '-140.5', '-140.7',
       '-141.3', '-142.0', '-142.1', '-142.46', '-142.59', '-142.7',
       '-142.8', '-143.0', '-143.15', '-143.19', '-143.25', '-143.3',
       '-143.5', '-143.55', '-143.6', '-1433.0', '-144.0', '-144.3',
       '-144.4', '-144.5', '-144.75', '-144.8', '-1440.0', '-145.0',
       '-146.0', '-146.2', '-146.9', '-147.0', '-147.2', '-147.6',
       '-147.8', '-1470.0', '-148.0', '-148.2', '-148.9', '-1480.0',
       '-149.0', '-149.25', '-15.0', '-15.3', '-15.72', '-150.0',
       '-150.1', '-150.3', '-151.0', '-151.15', '-151.2', '-151.3',
       '-151.5', '-152.0', '-152.1', '-152.15', '-153.0', '-153.3',
       '-153.5', '-153.75', '-154.0', '-154.5', '-154.55', '-154.8',
       '-154.95', '-155.0', '-155.3', '-155.6', '-156.0', '-156.2',
       '-156.75', '-157.0', '-157.25', '-157.4', '-1578.0', '-158.4',
       '-159.0', '-159.2', '-159.5', '-159.75', '-1590.0', '-16.0',
       '-16.15', '-16.2', '-16.5', '-160.0', '-160.4', '-160.5',
       '-160.65', '-1600.0', '-1607.7', '-161.0', '-161.5', '-162.0',
       '-162.2', '-162.4', '-162.5', '-163.0', '-163.5', '-1639.0',
       '-164.0', '-164.25', '-165.0', '-165.6', '-165.8', '-166.0',
       '-166.5', '-166.8', '-167.0', '-167.2', '-167.31', '-167.5',
       '-167.6', '-168.0', '-1683.12', '-169.0', '-17.0', '-17.1',
       '-17.5', '-17.85', '-170.0', '-171.0', '-171.2', '-171.95',
       '-172.0', '-173.0', '-173.2', '-173.4', '-173.5', '-173.9',
       '-174.0', '-174.4', '-175.0', '-175.8', '-175.95', '-176.0',
       '-177.12', '-177.95', '-178.0', '-178.4', '-178.5', '-179.0',
       '-179.1', '-18.0', '-18.5', '-18.7', '-18.75', '-18.9', '-180.0',
       '-181.0', '-181.05', '-181.09', '-181.4', '-182.0', '-182.5',
       '-182.52', '-182.75', '-183.0', '-183.1', '-183.45', '-183.75',
       '-184.5', '-185.0', '-185.3', '-186.0', '-186.3', '-186.36',
       '-186.4', '-188.0', '-188.25', '-188.3', '-189.0', '-189.5',
       '-189.55', '-19.0', '-19.2', '-19.5', '-19.8', '-190.0', '-190.25',
       '-191.25', '-191.7', '-192.0', '-192.55', '-192.95', '-193.0',
       '-193.5', '-194.0', '-195.5', '-195.9', '-196.0', '-196.5',
       '-196.65', '-197.0', '-197.5', '-197.9', '-198.0', '-198.65',
       '-199.0', '-199.5', '-2.0', '-2.01', '-2.5', '-20.0', '-20.4',
       '-20.5', '-20.7', '-20.8', '-200.0', '-200.7', '-200.75', '-200.8',
       '-201.65', '-202.0', '-202.35', '-202.6', '-203.0', '-203.25',
       '-203.5', '-204.25', '-204.65', '-205.0', '-206.0', '-206.55',
       '-207.0', '-208.0', '-209.0', '-209.3', '-209.7', '-2099.0',
       '-21.0', '-21.25', '-21.5', '-21.6', '-21.75', '-210.0', '-210.1',
       '-211.0', '-211.5', '-211.65', '-212.0', '-212.87', '-213.35',
       '-213.84', '-214.0', '-214.3', '-214.85', '-214.92', '-215.0',
       '-215.25', '-215.78', '-215.9', '-216.8', '-217.0', '-217.25',
       '-218.0', '-218.16', '-219.54', '-219.63', '-219.8', '-22.0',
       '-22.25', '-22.5', '-22.8', '-22.9', '-22.95', '-220.0', '-221.0',
       '-222.8', '-223.0', '-223.9', '-224.0', '-224.1', '-225.0',
       '-225.3', '-225.9', '-226.0', '-227.0', '-229.0', '-229.6',
       '-23.0', '-23.2', '-23.4', '-23.5', '-23.75', '-23.8', '-230.0',
       '-231.0', '-232.0', '-232.2', '-232.5', '-234.0', '-235.3',
       '-235.5', '-236.0', '-236.5', '-238.0', '-238.45', '-239.0',
       '-24.0', '-24.05', '-24.3', '-24.5'], dtype=object)

In [121]:
safeload_order_details_df[col_to_check] = (
    safeload_order_details_df[col_to_check]
    .astype(float)          
    .abs()                  
)

sorted_values_abs = np.sort(safeload_order_details_df[col_to_check].unique())
sorted_values_abs[:500]

array([0.000e+00, 1.000e-02, 5.000e-01, 9.500e-01, 1.000e+00, 1.500e+00,
       2.000e+00, 2.010e+00, 2.100e+00, 2.500e+00, 2.750e+00, 3.000e+00,
       3.500e+00, 4.000e+00, 4.500e+00, 5.000e+00, 5.100e+00, 5.220e+00,
       5.500e+00, 5.950e+00, 6.000e+00, 6.400e+00, 6.500e+00, 7.000e+00,
       7.100e+00, 7.200e+00, 7.250e+00, 7.500e+00, 7.650e+00, 7.750e+00,
       7.900e+00, 8.000e+00, 8.100e+00, 8.400e+00, 8.500e+00, 8.550e+00,
       8.800e+00, 9.000e+00, 9.200e+00, 9.400e+00, 9.500e+00, 9.600e+00,
       9.900e+00, 1.000e+01, 1.020e+01, 1.040e+01, 1.050e+01, 1.060e+01,
       1.080e+01, 1.091e+01, 1.100e+01, 1.105e+01, 1.110e+01, 1.120e+01,
       1.140e+01, 1.150e+01, 1.170e+01, 1.190e+01, 1.200e+01, 1.235e+01,
       1.250e+01, 1.260e+01, 1.275e+01, 1.280e+01, 1.300e+01, 1.325e+01,
       1.330e+01, 1.350e+01, 1.360e+01, 1.380e+01, 1.400e+01, 1.425e+01,
       1.440e+01, 1.445e+01, 1.450e+01, 1.470e+01, 1.475e+01, 1.485e+01,
       1.500e+01, 1.520e+01, 1.525e+01, 1.530e+01, 1.550e+01, 1.560e+01,
       1.572e+01, 1.575e+01, 1.584e+01, 1.590e+01, 1.600e+01, 1.610e+01,
       1.615e+01, 1.620e+01, 1.645e+01, 1.650e+01, 1.680e+01, 1.683e+01,
       1.700e+01, 1.710e+01, 1.725e+01, 1.750e+01, 1.760e+01, 1.785e+01,
       1.790e+01, 1.800e+01, 1.805e+01, 1.813e+01, 1.820e+01, 1.830e+01,
       1.850e+01, 1.851e+01, 1.870e+01, 1.875e+01, 1.881e+01, 1.890e+01,
       1.900e+01, 1.920e+01, 1.950e+01, 1.955e+01, 1.960e+01, 1.980e+01,
       1.995e+01, 2.000e+01, 2.025e+01, 2.027e+01, 2.040e+01, 2.050e+01,
       2.070e+01, 2.075e+01, 2.080e+01, 2.085e+01, 2.090e+01, 2.100e+01,
       2.115e+01, 2.120e+01, 2.125e+01, 2.143e+01, 2.150e+01, 2.160e+01,
       2.170e+01, 2.175e+01, 2.178e+01, 2.180e+01, 2.185e+01, 2.190e+01,
       2.200e+01, 2.205e+01, 2.210e+01, 2.225e+01, 2.240e+01, 2.242e+01,
       2.245e+01, 2.250e+01, 2.270e+01, 2.280e+01, 2.290e+01, 2.295e+01,
       2.299e+01, 2.300e+01, 2.303e+01, 2.310e+01, 2.320e+01, 2.325e+01,
       2.340e+01, 2.350e+01, 2.358e+01, 2.360e+01, 2.375e+01, 2.380e+01,
       2.385e+01, 2.390e+01, 2.400e+01, 2.405e+01, 2.410e+01, 2.430e+01,
       2.440e+01, 2.450e+01, 2.452e+01, 2.453e+01, 2.461e+01, 2.465e+01,
       2.470e+01, 2.475e+01, 2.480e+01, 2.485e+01, 2.495e+01, 2.500e+01,
       2.510e+01, 2.517e+01, 2.520e+01, 2.538e+01, 2.540e+01, 2.550e+01,
       2.560e+01, 2.565e+01, 2.575e+01, 2.580e+01, 2.585e+01, 2.600e+01,
       2.606e+01, 2.610e+01, 2.624e+01, 2.625e+01, 2.635e+01, 2.640e+01,
       2.650e+01, 2.654e+01, 2.655e+01, 2.660e+01, 2.665e+01, 2.670e+01,
       2.673e+01, 2.675e+01, 2.680e+01, 2.700e+01, 2.706e+01, 2.710e+01,
       2.717e+01, 2.720e+01, 2.721e+01, 2.729e+01, 2.730e+01, 2.749e+01,
       2.750e+01, 2.751e+01, 2.755e+01, 2.760e+01, 2.765e+01, 2.770e+01,
       2.772e+01, 2.775e+01, 2.789e+01, 2.790e+01, 2.800e+01, 2.804e+01,
       2.805e+01, 2.810e+01, 2.825e+01, 2.835e+01, 2.840e+01, 2.850e+01,
       2.860e+01, 2.870e+01, 2.880e+01, 2.890e+01, 2.900e+01, 2.910e+01,
       2.911e+01, 2.915e+01, 2.920e+01, 2.925e+01, 2.940e+01, 2.945e+01,
       2.950e+01, 2.952e+01, 2.954e+01, 2.955e+01, 2.960e+01, 2.970e+01,
       2.975e+01, 2.990e+01, 3.000e+01, 3.005e+01, 3.010e+01, 3.015e+01,
       3.020e+01, 3.040e+01, 3.042e+01, 3.050e+01, 3.060e+01, 3.063e+01,
       3.075e+01, 3.080e+01, 3.087e+01, 3.090e+01, 3.100e+01, 3.105e+01,
       3.115e+01, 3.116e+01, 3.120e+01, 3.125e+01, 3.135e+01, 3.140e+01,
       3.145e+01, 3.150e+01, 3.160e+01, 3.168e+01, 3.170e+01, 3.175e+01,
       3.180e+01, 3.182e+01, 3.195e+01, 3.200e+01, 3.220e+01, 3.225e+01,
       3.230e+01, 3.240e+01, 3.250e+01, 3.260e+01, 3.267e+01, 3.270e+01,
       3.275e+01, 3.280e+01, 3.285e+01, 3.287e+01, 3.300e+01, 3.310e+01,
       3.315e+01, 3.317e+01, 3.320e+01, 3.325e+01, 3.330e+01, 3.335e+01,
       3.340e+01, 3.345e+01, 3.350e+01, 3.353e+01, 3.360e+01, 3.362e+01,
       3.375e+01, 3.400e+01, 3.404e+01, 3.420e+01, 3.425e+01, 3.430e+01,
       3.434e+01, 3.435e+01, 3.440e+01, 3.450e+01, 3.455e+01, 3.456e+01,
       3.465e+01, 3.480e+01, 3.485e+01, 3.490e+01, 3.494e+01, 3.500e+01,
       3.510e+01, 3.515e+01, 3.520e+01, 3.525e+01, 3.530e+01, 3.540e+01,
       3.550e+01, 3.554e+01, 3.555e+01, 3.560e+01, 3.570e+01, 3.575e+01,
       3.590e+01, 3.600e+01, 3.610e+01, 3.615e+01, 3.620e+01, 3.621e+01,
       3.625e+01, 3.630e+01, 3.640e+01, 3.649e+01, 3.650e+01, 3.655e+01,
       3.660e+01, 3.675e+01, 3.680e+01, 3.685e+01, 3.690e+01, 3.699e+01,
       3.700e+01, 3.705e+01, 3.710e+01, 3.715e+01, 3.720e+01, 3.725e+01,
       3.730e+01, 3.739e+01, 3.740e+01, 3.750e+01, 3.758e+01, 3.760e+01,
       3.770e+01, 3.775e+01, 3.780e+01, 3.800e+01, 3.803e+01, 3.810e+01,
       3.820e+01, 3.823e+01, 3.825e+01, 3.830e+01, 3.840e+01, 3.850e+01,
       3.852e+01, 3.854e+01, 3.855e+01, 3.861e+01, 3.870e+01, 3.875e+01,
       3.880e+01, 3.890e+01, 3.895e+01, 3.900e+01, 3.905e+01, 3.910e+01,
       3.915e+01, 3.920e+01, 3.950e+01, 3.960e+01, 3.975e+01, 3.980e+01,
       3.990e+01, 3.995e+01, 4.000e+01, 4.020e+01, 4.025e+01, 4.030e+01,
       4.040e+01, 4.050e+01, 4.055e+01, 4.059e+01, 4.070e+01, 4.080e+01,
       4.085e+01, 4.095e+01, 4.100e+01, 4.104e+01, 4.109e+01, 4.110e+01,
       4.113e+01, 4.122e+01, 4.125e+01, 4.127e+01, 4.130e+01, 4.140e+01,
       4.150e+01, 4.160e+01, 4.165e+01, 4.175e+01, 4.180e+01, 4.185e+01,
       4.190e+01, 4.191e+01, 4.195e+01, 4.200e+01, 4.220e+01, 4.230e+01,
       4.240e+01, 4.250e+01, 4.263e+01, 4.270e+01, 4.275e+01, 4.280e+01,
       4.285e+01, 4.286e+01, 4.290e+01, 4.295e+01, 4.300e+01, 4.320e+01,
       4.325e+01, 4.330e+01, 4.335e+01, 4.340e+01, 4.350e+01, 4.360e+01,
       4.365e+01, 4.370e+01, 4.380e+01, 4.400e+01, 4.405e+01, 4.410e+01,
       4.420e+01, 4.425e+01, 4.430e+01, 4.440e+01, 4.450e+01, 4.455e+01,
       4.460e+01, 4.462e+01, 4.465e+01, 4.475e+01, 4.480e+01, 4.485e+01,
       4.490e+01, 4.497e+01, 4.500e+01, 4.505e+01, 4.509e+01, 4.510e+01,
       4.520e+01, 4.524e+01, 4.535e+01, 4.540e+01, 4.545e+01, 4.550e+01,
       4.560e+01, 4.570e+01, 4.575e+01, 4.590e+01, 4.600e+01, 4.610e+01,
       4.620e+01, 4.625e+01])

In [122]:
col_to_check = 'item.discount'
safeload_order_details_df[col_to_check].unique()

<StringArray>
['True', 'False']
Length: 2, dtype: string

In [123]:
col_to_check = 'product.type'
safeload_order_details_df[col_to_check].unique()

<StringArray>
[                'rental~bike',                'hotel~coupon',
                        'food',                  'experience',
                'bundle~train',                   'transport',
                     'service',                     'skipass',
                    'giftcard',              'skipass~return',
                   'itinerary',                   'insurance',
               'bundle~travel',                      'lesson',
                  'snowitcard',               'skipass~hotel',
                       'hotel',                      'bundle',
                      'rental',             'transport~ferry',
                  'bundle~tab',                      'coupon',
          'skipass~membership',                    'seasonal',
           'experience~museum', 'skipass~membership-seasonal',
             'voucher~skipass',             'skipass~dynamic',
              'bundle~dynamic',                     'parking']
Length: 30, dtype: string

In [124]:
col_to_check = 'item.zoneName'
safeload_order_details_df[col_to_check].unique()

<StringArray>
[                       'Bormio',           'Pontedilegno-Tonale',
                  'Bardonecchia',                        'Italia',
           'Desenzano del Garda',                 'Lago Maggiore',
                  'Lago di Como',                              '',
                   "Lago d'Iseo",      'Barzio - Piani di Bobbio',
 ...
          'Gressoney-La-Trinit√©',                         'Badia',
                      'Dobbiaco',                      'Tarvisio',
                     'Sestriere',                  "Sauze D'Oulx",
 'Valmalenco Bernina Ski Resort',           'Moggio - Artavaggio',
                     'Sch√§rding',                        'Snowit']
Length: 151, dtype: string

In [125]:
col_to_check = 'product.durationHours'
safeload_order_details_df[col_to_check].unique()

<StringArray>
['12.0', '', '4.0', '3.0', '1.0', '2.0', '5.0', '6.0', '8.0', '7.0']
Length: 10, dtype: string

In [126]:
col_to_check = 'item.profiles'
safeload_order_details_df[col_to_check].head(60)

0     uhozpzih6zz0gb8vsnrl
1
2
3
4
5
6
7
8
9
10    8xhyvkzruc1g4d8zenik
11
12
13
14
15
16
17
18
19                      _1
20                      _1
21
22
23                      _1
24                      _1
25                      _1
26                      _1
27                      _1
28                      _1
29                      _1
30
31
32
33    i96cld933twu3lpvuowy
34    ddxdlztbtpzjllq8eykp
35
36
37                      _1
38                      _1
39                      _1
40                      _1
41
42
43
44
45
46
47                      _1
48                      _1
49                      _1
50    4988nzmxwnv6j03hgchq
51
52
53
54
55
56
57
58
59
Name: item.profiles, dtype: string

In [127]:
col_to_check = 'item.variantName'
safeload_order_details_df[col_to_check].unique()

<StringArray>
[                    'Rossignol Mandate Shift',
                                            '',
                   'Bottecchia 8avio Ultimate',
                          '0.4583333333333333',
                                      'Adulto',
                         'Ragazzo (4-13 anni)',
                    'Bottecchia BE38 Avok 900',
               'Viaggio di 9 giorni e 8 notti',
                         'Lezioni di kitesurf',
                                        'Uomo',
 ...
 'Overvolt AM 5.6 2022 Pomeriggio 14:00-18:00',
                               'all track 27+',
                  'Double-Triple Room Economy',
             'Carnet degustazione - 7 assaggi',
             'Carnet degustazione - 3 assaggi',
                                    '1 adulto',
                          'Pacchetto famiglia',
      'Carnet degustazione - 7 assaggi + Tast',
                                  '9:00-12:00',
     'Lapierre Overvolt AM 5.5 Mezza Giornata']
Length: 927, dtype: string

In [128]:
col_to_check = 'item.slotName'
safeload_order_details_df[col_to_check].unique()

<StringArray>
[                                   'L',
                                     '',
                                   '58',
                                  'LXL',
                                    'M',
                           'Intermedio',
              'Posto in camerata mista',
                                   '53',
                                    'S',
               'Posto in camera doppia',
 ...
 'Entrance from 13:00 to 15:00 (Woman)',
  'Entrance from 9:00 to 11:00 (Woman)',
                          '14:30-16:30',
                   'Trasporto autonomo',
                          '14:00-16:30',
                   'Partenza da Torino',
                  'Partenza da Bergamo',
                          '19:30-23:30',
                                   'XS',
                           '9:00-11:30']
Length: 276, dtype: string

In [129]:
col_to_check = 'item.snowitcardNumber'
safeload_order_details_df[col_to_check].unique()

<StringArray>
[         '', '4586597.0', '4586494.0', '4586520.0', '4586601.0', '4586438.0',
 '4586449.0', '4303271.0', '4303318.0', '6486093.0',
 ...
 '4789527.0', '7443947.0', '7443958.0', '4743417.0', '6357876.0', '6357072.0',
 '6357061.0',    '4145.0', '4687472.0', '1796685.0']
Length: 221230, dtype: string

In [130]:
# Read and fix
import numpy as np

order_details_df = pd.read_csv(order_details_in_path,
                       keep_default_na=False,
                       na_values=NA_VALUES, # assign the ones previously defined
                       dtype={
                           'item.uid': 'string',
                           'order.uid': 'string',
                           'item.status': 'string',
                           'item.date': 'string',
                           'product.uid': 'string',
                           'product.dynamicPricing': 'boolean',
                           'item.amount': 'Float32',
                           'item.discount': 'boolean',
                           'product.type': 'string',
                           'item.zoneName': 'string',
                           'product.durationHours': 'Float32',
                           'item.profiles': 'string',
                           'item.variantName': 'string',
                           'item.slotName': 'string',
                           'item.snowitcardNumber': 'string',
                       }
                       )

order_details_df['item.date'] = pd.to_datetime(order_details_df['item.date'])

order_details_df['item.amount'] = (order_details_df['item.amount'].abs())

In [131]:
# CHECK Foreign Key VALIDITY

# SELECT
#   A.order.uid,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT order.uid
#   FROM order_details_df
#   WHERE order.uid IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT order.uid, 1.0 AS in_orders
#   FROM orders_df) AS B
#   ON A.order.uid = B.order.uid
# GROUP BY in_orders
# HAVING num_rows > 1

(order_details_df
 [['order.uid']]
 .loc[lambda tbl: tbl['order.uid'].notnull()]
 .drop_duplicates()
 .merge(orders_df[['order.uid']].assign(in_orders=1.0),
        how='left',
        on='order.uid'
        )
 .assign(aux=1.0)
 .groupby(['in_orders'], dropna=False)
 .agg(num_rows=('aux', pd.Series.count))
 .loc[lambda tbl: tbl['num_rows'] > 1]
)

           num_rows
in_orders
1.0          385168
NaN          164732

In [132]:
# issue, I have 164732 detailed orders with an empty left join with the orders table
# let's visualize these profiles

In [133]:
# SELECT
#   A.order.uid,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT order.uid
#   FROM order_details_df
#   WHERE order.uid IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT order.uid, 1.0 AS in_orders
#   FROM orders_df) AS B
#   ON A.order.uid = B.order.uid
# WHERE
#   in_orders IS NULL

(order_details_df
 [['order.uid']]
 .loc[lambda tbl: tbl['order.uid'].notnull()]
 .drop_duplicates()
 .merge(orders_df[['order.uid']].assign(in_orders=1.0),
        how='left',
        on='order.uid'
        )
 .loc[lambda tbl: tbl['in_orders'].isnull()]
)

                 order.uid  in_orders
1       termljwsr2gecnzwks        NaN
2       ko8axscf5grobnz9in        NaN
3       tu8b9haokkimu72aza        NaN
4       a8mvwuv6ileh9aqblu        NaN
5       kmwabdpnhtm46p8me8        NaN
...                    ...        ...
549883  bjzuut5lvj76ad6jbp        NaN
549884  ur0t4p0hejetoesg3h        NaN
549886  3unzmjqzzmwgnbil56        NaN
549888  mhosjzeznativvqfnz        NaN
549894  v1obzy9nwp99nanhue        NaN

[164732 rows x 2 columns]

In [134]:
# from the table printed before I select just the column ['order.uid'],
# those IDs without a correspondence in the orders_df

order_fail_useruids = (order_details_df
    [['order.uid']]
    .loc[lambda tbl: tbl['order.uid'].notnull()]
    .drop_duplicates()
    .merge(orders_df[['order.uid']].assign(in_orders=1.0),
            how='left',
            on='order.uid'
            )
    .loc[lambda tbl: tbl['in_orders'].isnull()]
    ['order.uid']
)
display(order_fail_useruids)

# extract now the profiles with "inconsistent" 'user.uid'
order_fail_useruid_df = order_details_df.loc[lambda tbl: tbl['order.uid'].isin(order_fail_useruids)]
display(order_fail_useruid_df)

1         termljwsr2gecnzwks
2         ko8axscf5grobnz9in
3         tu8b9haokkimu72aza
4         a8mvwuv6ileh9aqblu
5         kmwabdpnhtm46p8me8
                 ...
549883    bjzuut5lvj76ad6jbp
549884    ur0t4p0hejetoesg3h
549886    3unzmjqzzmwgnbil56
549888    mhosjzeznativvqfnz
549894    v1obzy9nwp99nanhue
Name: order.uid, Length: 164732, dtype: string

,item.uid,order.uid,item.date,product.uid,product.dynamicPricing,item.amount,item.discount,product.type,item.zoneName,product.durationHours,item.profiles,item.variantName,item.slotName,item.snowitcardNumber,item.status
1,mmWAugpNnPVHRcePWiiH,termljwsr2gecnzwks,2024-12-27,form:PO9LFLX23J2024,False,0.0,False,hotel~coupon,Pontedilegno-Tonale,<NA>,<NA>,<NA>,<NA>,<NA>,fulfilled
2,bShIBhXedPkDTmZpmczI,ko8axscf5grobnz9in,2024-07-02,9oNSf7M6J7BNWakW2otU,False,26.0,False,food,Bardonecchia,4.0,<NA>,<NA>,<NA>,<NA>,canceled
3,axrCVxzH7eVW2EbaKHho,ko8axscf5grobnz9in,2024-07-02,9oNSf7M6J7BNWakW2otU,False,26.0,False,food,Bardonecchia,4.0,<NA>,<NA>,<NA>,<NA>,canceled
4,axrCVxzH7eVW2EbaKHho,ko8axscf5grobnz9in,2024-07-02,9oNSf7M6J7BNWakW2otU,False,26.0,False,food,Bardonecchia,4.0,<NA>,<NA>,<NA>,<NA>,transfer
5,4Neyeg0izzwue8RbJrPH,ko8axscf5grobnz9in,2024-07-02,9oNSf7M6J7BNWakW2otU,False,26.0,False,food,Bardonecchia,4.0,<NA>,<NA>,<NA>,<NA>,canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420574,0NGCJGZ3NyfzdL5cXRI5,mhosjzeznativvqfnz,2022-07-03,1Ms1ktHDULulVrLvnCI3,False,5.0,False,skipass,Barzio - Piani di Bobbio,12.0,<NA>,<NA>,<NA>,<NA>,fulfilled
1420586,X2S1z1uv9T03UsDC4M53,v1obzy9nwp99nanhue,2022-07-27,30gOXuGs811l6EBBA83w,False,0.0,False,experience,Livigno,12.0,<NA>,<NA>,<NA>,<NA>,transfer
1420587,UfwVcrM34CNwe7VBGfjY,v1obzy9nwp99nanhue,2022-07-27,30gOXuGs811l6EBBA83w,False,0.0,False,experience,Livigno,12.0,<NA>,<NA>,<NA>,<NA>,canceled
1420588,UfwVcrM34CNwe7VBGfjY,v1obzy9nwp99nanhue,2022-07-27,30gOXuGs811l6EBBA83w,False,0.0,False,experience,Livigno,12.0,<NA>,<NA>,<NA>,<NA>,transfer
1420589,X2S1z1uv9T03UsDC4M53,v1obzy9nwp99nanhue,2022-07-27,30gOXuGs811l6EBBA83w,False,0.0,False,experience,Livigno,12.0,<NA>,<NA>,<NA>,<NA>,canceled

In [135]:
# FIX Foreing Key ISSUE: remove them ! 
order_details_df.drop(list(order_fail_useruid_df.index), inplace=True)

display(
    order_details_df
    [['order.uid']]
    .loc[lambda tbl: tbl['order.uid'].notnull()]
    .drop_duplicates()
    .merge(orders_df[['order.uid']].assign(in_orders=1.0),
            how='left',
            on='order.uid'
            )
    .assign(aux=1.0)
    .groupby(['in_orders'], dropna=False)
    .agg(num_rows=('aux', pd.Series.count))
    .loc[lambda tbl: tbl['num_rows'] > 1]
)
# now, as expected, I don't have null values after the left join

           num_rows
in_orders
1.0          385168

In [136]:
# CHECK Profiles VALIDITY

# SELECT
#   A.item.profiles,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT item.profiles
#   FROM order_details_df
#   WHERE item.profiles IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT profile.uid, 1.0 AS in_profiles
#   FROM profiles_df) AS B
#   ON A.item.profiles = B.profile.uid
# GROUP BY in_profiles
# HAVING num_rows > 1

(order_details_df
 [['item.profiles']]
 .loc[lambda tbl: tbl['item.profiles'].notnull()]
 .drop_duplicates()
 .merge(profiles_df[['profile.uid']].assign(in_profiles=1.0),
        how='left',
        left_on='item.profiles',
        right_on='profile.uid'
        )
 .assign(aux=1.0)
 .groupby(['in_profiles'], dropna=False)
 .agg(num_rows=('aux', pd.Series.count))
 .loc[lambda tbl: tbl['num_rows'] > 1]
)

             num_rows
in_profiles
1.0             20189
NaN               374

In [137]:
# issue, I have 374 detailed orders with an empty left join with the profiles table
# let's visualize these profiles

In [138]:
# SELECT
#   A.item.profiles,
#   count(1) as num_rows
# FROM 
#   (SELECT DISTINCT  item.profiles
#   FROM order_details_df
#   WHERE item.profles IS NOT NULL) AS A
#   LEFT JOIN
#   (SELECT profile.uid, 1.0 AS in_profiles
#   FROM profiles_df) AS B
#   ON A.item.profiles = B.profile.uid
# WHERE
#   in_profiles IS NULL

(order_details_df
 [['item.profiles']]
 .loc[lambda tbl: tbl['item.profiles'].notnull()]
 .drop_duplicates()
 .merge(profiles_df[['profile.uid']].assign(in_profiles=1.0),
        how='left',
        left_on='item.profiles',
        right_on='profile.uid'
        )
 .loc[lambda tbl: tbl['in_profiles'].isnull()]
)

                                   item.profiles profile.uid  in_profiles
1                                             _1        <NA>          NaN
5                                          _1;_2        <NA>          NaN
85                                   _1;_2;_3;_4        <NA>          NaN
97     muyejxsmorfojxxg1hlb;zkrsoiswdwunbosphcav        <NA>          NaN
109                                     _1;_2;_3        <NA>          NaN
...                                          ...         ...          ...
20540                       avrn9k3o2mu2fjy9acsh        <NA>          NaN
20541                       wo45fqxde6igpavfqj2a        <NA>          NaN
20542                       5ojsyocyu4nfqocvcim1        <NA>          NaN
20555  g5fxgajus6hxnouuqxv7;lwpc3d8rufleyqqpopqg        <NA>          NaN
20562                                     street        <NA>          NaN

[374 rows x 3 columns]

In [139]:
# for the time being, I decide to still keep these values since they could have information about sold products, even if not linked to a profile.

## Load Reviews

In [140]:
REVIEWS_IN_FILENAME = 'reviews.csv'
REVIEWS_PKL_FILENAME = 'reviews.pkl'

reviews_in_path = data_in_dir_path.joinpath(REVIEWS_IN_FILENAME) 
reviews_pkl_path = data_pkl_dir_path.joinpath(REVIEWS_PKL_FILENAME)

In [141]:
safeload_reviews_df = pd.read_csv(reviews_in_path,
                                        dtype='string',
                                        na_values=[],
                                        keep_default_na=False
                                        )
safeload_reviews_df.columns

Index(['review.uid', 'user.uid', 'text'], dtype='object')

In [142]:
safeload_reviews_df.shape

(105710, 3)

In [143]:
print(safeload_reviews_df["review.uid"].unique().shape)
# I expect this number to be the same as the dimension of the shape, and that's what happens

print(safeload_reviews_df["review.uid"].isnull().sum())
#I expect this number to be zero, and that's what happens

print(safeload_reviews_df["review.uid"].duplicated().sum())
#I expect this number to be zero, and that's what happenS

(105710,)
0
0

In [144]:
print(safeload_reviews_df['user.uid'].isnull().sum())
print(safeload_reviews_df["user.uid"].unique().shape)
# we have no user that has written more than one review

0
(105710,)

In [145]:
print(safeload_reviews_df["text"].isnull().sum())
print(safeload_reviews_df["text"].unique().shape)
#we have someone that has written the same review text (the dimesion is lower than the shape)

0
(93429,)

In [146]:
# find duplicates in "text"
duplicates = safeload_reviews_df[safeload_reviews_df.duplicated(subset="text", keep=False)]

# Print 5 couples
groups = duplicates.groupby("text")
for i, (text, group) in enumerate(groups):
    if i >= 5:  
        break
    print(group["text"].values[:2])  # stampo le prime 2 occorrenze

<StringArray>
['"Bounty" bars consist of a soft, almost molten center of sweet coconut coated in an outer layer of milk chocolate. You can easily buy them "over the counter" here in Australia. But if that\'s not the case where you are, and you don\'t mind a diet rich in junk food, then yes, this is a candy bar worth going to the trouble of ordering over the internet.<br /><br />Note that here on Amazon you can purchase bounty bars in boxes with varying numbers of bars inside, so it is worth your while to crunch the numbers and think about what package offers the best value for you. At the same time, it may not be entirely in the best interests of your health to have _too_ many of these things lying around at home all at once!<br /><br />Theo.', '"Bounty" bars consist of a soft, almost molten center of sweet coconut coated in an outer layer of milk chocolate. You can easily buy them "over the counter" here in Australia. But if that\'s not the case where you are, and you don\'t mind a diet rich in junk food, then yes, this is a candy bar worth going to the trouble of ordering over the internet.<br /><br />Note that here on Amazon you can purchase bounty bars in boxes with varying numbers of bars inside, so it is worth your while to crunch the numbers and think about what package offers the best value for you. At the same time, it may not be entirely in the best interests of your health to have _too_ many of these things lying around at home all at once!<br /><br />Theo.']
Length: 2, dtype: string
<StringArray>
['"Cherry Pie" is certainly a misnomer, even to those not used to traditional sweetness. Yes, the first ingredient in (all) Larabars is dates, and here it\'s very evident. Certainly a nutritious enough snack, but the cherries and almonds are pretty subtle and the flavor isn\'t top-notch.<br />Apple Pie is tasty and available on clearance from Target quite often.<br />Chococonut Chew tastes like chocolatey dates, as evidenced by the coconut as the final ingredient and dates as the first. Almonds overpower your mouth and the taste.<br />Cashew Cookie tastes just like a solidified version of my homemade cashew butter; would not invest in such a thing. Overly salty and bland, and a pretty hideous thing, too.<br />Pecan Pie is alright but certainly not a buy-twice.<br />Same w/ PB Cookie, which tasted more of peanuts than anything resembling a PB cookie.<br />PB & J<br />Coconut Cream Pie is atrocious, tasting like coconut oil and absolutely no cream component.', '"Cherry Pie" is certainly a misnomer, even to those not used to traditional sweetness. Yes, the first ingredient in (all) Larabars is dates, and here it\'s very evident. Certainly a nutritious enough snack, but the cherries and almonds are pretty subtle and the flavor isn\'t top-notch.<br />Apple Pie is tasty and available on clearance from Target quite often.<br />Chococonut Chew tastes like chocolatey dates, as evidenced by the coconut as the final ingredient and dates as the first. Almonds overpower your mouth and the taste.<br />Cashew Cookie tastes just like a solidified version of my homemade cashew butter; would not invest in such a thing. Overly salty and bland, and a pretty hideous thing, too.<br />Pecan Pie is alright but certainly not a buy-twice.<br />Same w/ PB Cookie, which tasted more of peanuts than anything resembling a PB cookie.<br />PB & J<br />Coconut Cream Pie is atrocious, tasting like coconut oil and absolutely no cream component.']
Length: 2, dtype: string
<StringArray>
['"Corn Syrup Solids, Partially Hydrogenated Soybean Oil, Polysorbate 60"<br /><br />It\'s really good cocoa, and I make it every morning for my husband (he won\'t drink coffee); we even bring it along on vacation so he can have it. I just wish that list of poisons above weren\'t included.  I\'ve suggested to Land-o-Lakes that they make a ... "Sweet Nothings" version or whatever they want to call it:  a *totally* unsweetened version, so we can add whatever sweetener we wish to add.<br /><br />The corn syrup is unhealthy in the extreme; the \'partially hydrogenated\' means trans fats (and soy is *not* healthy, contrary to the "common" "wisdom"), and the polysorbate has been shown in cosmetics to cause problems (and why is a cosmetics ingredient in a food item?!).<br /><br />That said (er... written), until someone comes up with a healthy product that tastes as good as this stuff does, he\'s gonna keep drinking these poisons every morning. {sigh}', '"Corn Syrup Solids, Partially Hydrogenated Soybean Oil, Polysorbate 60"<br /><br />It\'s really good cocoa, and I make it every morning for my husband (he won\'t drink coffee); we even bring it along on vacation so he can have it. I just wish that list of poisons above weren\'t included.  I\'ve suggested to Land-o-Lakes that they make a ... "Sweet Nothings" version or whatever they want to call it:  a *totally* unsweetened version, so we can add whatever sweetener we wish to add.<br /><br />The corn syrup is unhealthy in the extreme; the \'partially hydrogenated\' means trans fats (and soy is *not* healthy, contrary to the "common" "wisdom"), and the polysorbate has been shown in cosmetics to cause problems (and why is a cosmetics ingredient in a food item?!).<br /><br />That said (er... written), until someone comes up with a healthy product that tastes as good as this stuff does, he\'s gonna keep drinking these poisons every morning. {sigh}']
Length: 2, dtype: string
<StringArray>
['"I love them"<br /><br />  - Winston the dog<br /><br />"These are delicious"<br /><br />  - Suzi the dog<br /><br />"feh....not a reasonable substitute for tunafish"<br /><br />  - Peke the cat', '"I love them"<br /><br />  - Winston the dog<br /><br />"These are delicious"<br /><br />  - Suzi the dog<br /><br />"feh....not a reasonable substitute for tunafish"<br /><br />  - Peke the cat']
Length: 2, dtype: string
<StringArray>
['"NOW" brand stevia is the only pure stevia product I have seen on the market. I have been using it as a sweetner for drinks and baking for years. A quality product.', '"NOW" brand stevia is the only pure stevia product I have seen on the market. I have been using it as a sweetner for drinks and baking for years. A quality product.']
Length: 2, dtype: string

In [147]:
reviews_df = pd.read_csv(reviews_in_path,
                       keep_default_na=False,
                       na_values=NA_VALUES,
                       dtype={
                           'review.uid': 'string',
                           'user.uid': 'string',
                           'text': 'string'
                       }
                       )

reviews_df = reviews_df.drop_duplicates(subset="text", keep="first")
reviews_df = reviews_df.reset_index(drop=True)

# ------------------------------
# CHECK PK VALIDITY: review.uid
# ------------------------------

#null check
display(
    reviews_df
    .loc[lambda tbl: tbl['review.uid'].isnull()]
    .assign(aux=1.0)
    .shape[0]
)


# uniqueness check
display(
    reviews_df
    .assign(aux=1.0)
    .groupby(['review.uid'], dropna=False)
    .agg(num_rows=('aux', pd.Series.count))
    .loc[lambda tbl: tbl['num_rows'] > 1]
)
display(
    reviews_df
    .loc[lambda tbl: tbl['user.uid'].isnull()]
    .assign(aux=1.0)
    .shape[0]
)

0

Empty DataFrame
Columns: [num_rows]
Index: []

0

In [148]:
# CHECK Foreign Key VALIDITY

(reviews_df
 [['user.uid']]
 .loc[lambda tbl: tbl['user.uid'].notnull()]
 .drop_duplicates()
 .merge(users_df[['user.uid']].assign(in_users=1.0),
        how='left',
        on='user.uid'
        )
 .assign(aux=1.0)
 .groupby(['in_users'], dropna=False)
 .agg(num_rows=('aux', pd.Series.count))
 .loc[lambda tbl: tbl['num_rows'] > 1]
)

          num_rows
in_users
1.0          93429

## Load Labelled Reviews

In [149]:
REVIEWS_LABELLED_IN_FILENAME = 'reviews_labelled.csv'
REVIEWS_LABELLED_PKL_FILENAME = 'reviews_labelled.pkl'

reviews_labelled_in_path = data_in_dir_path.joinpath(REVIEWS_LABELLED_IN_FILENAME) 
reviews_labelled_pkl_path = data_pkl_dir_path.joinpath(REVIEWS_LABELLED_PKL_FILENAME)
safeload_reviews_labelled_df = pd.read_csv(reviews_labelled_in_path,
                                        dtype='string',
                                        na_values=[],
                                        keep_default_na=False
                                        )
safeload_reviews_labelled_df.columns

Index(['labelled_review.uid', 'text', 'sentiment_label'], dtype='object')

In [150]:
safeload_reviews_labelled_df.shape

(462744, 3)

In [151]:
print(safeload_reviews_labelled_df["labelled_review.uid"].unique().shape)
# I expect this number to be the same as the dimension of the shape, and that's what happens

print(safeload_reviews_labelled_df["labelled_review.uid"].isnull().sum())
#I expect this number to be zero, and that's what happens

print(safeload_reviews_labelled_df["labelled_review.uid"].duplicated().sum())
#I expect this number to be zero, and that's what happenS

(462744,)
0
0

In [152]:
print(safeload_reviews_labelled_df['sentiment_label'].isnull().sum())
print(safeload_reviews_labelled_df['sentiment_label'].unique())

0
<StringArray>
['neutral', 'positive', 'negative']
Length: 3, dtype: string

In [153]:
print(safeload_reviews_labelled_df["text"].isnull().sum())
print(safeload_reviews_labelled_df["text"].unique().shape)

0
(327522,)

In [154]:
#we have someone that has written the same review text (the dimesion is lower than the shape)
# find duplicates in "text"
duplicates = safeload_reviews_labelled_df[safeload_reviews_labelled_df.duplicated(subset="text", keep=False)]

# Print 5 couples
groups = duplicates.groupby("text")
for i, (text, group) in enumerate(groups):
    if i >= 5:  
        break
    print(group["text"].values[:2])  # stampo le prime 2 occorrenze

<StringArray>
['"4C Totally Light" is one of the very few "sugar free" products of it\'s type to use safer and better tasteing sucralose(Splenda) over Aspertame.<br /><br />Very tasty drink, especially when served over ice!', '"4C Totally Light" is one of the very few "sugar free" products of it\'s type to use safer and better tasteing sucralose(Splenda) over Aspertame.<br /><br />Very tasty drink, especially when served over ice!']
Length: 2, dtype: string
<StringArray>
['"BUFFY" LOOKS FORWARD TO HER "TOY" EVERY AFTERNOON.  MY BIGGEST FEAR IS RUNNING OUT OF REFILLS BEFORE I CAN ORDER AND RECEIVE MORE.', '"BUFFY" LOOKS FORWARD TO HER "TOY" EVERY AFTERNOON.  MY BIGGEST FEAR IS RUNNING OUT OF REFILLS BEFORE I CAN ORDER AND RECEIVE MORE.']
Length: 2, dtype: string
<StringArray>
['"Blends smooth and creamy for a sweet tasting protein"  is in the item description. I don\'t know who wrote this but they must not have ever smelled or tasted this stuff! Based on the description, I purchased a few of these bags. They come vacuum sealed. The color of the powder is a light olive green. The taste is a combination of powdered sawdust, wheatgrass and every dark green health food store drink you\'ve ever had. The only reason it gave it a star at all is well, there\'s no choice for zero, and it probably does have decent nutritional properties. But while forcing myself to drink this stuff, I got flashbacks from 3 years old when I was forced to eat spinach. The good news is Amazon refunded the cost of the purchase even though it\'s a "non-refundable" product. You have to call them to do it. They didn\'t even want me to send back the unopened bags! But I really want to return them. It seems a shame to have to throw them away.', '"Blends smooth and creamy for a sweet tasting protein"  is in the item description. I don\'t know who wrote this but they must not have ever smelled or tasted this stuff! Based on the description, I purchased a few of these bags. They come vacuum sealed. The color of the powder is a light olive green. The taste is a combination of powdered sawdust, wheatgrass and every dark green health food store drink you\'ve ever had. The only reason it gave it a star at all is well, there\'s no choice for zero, and it probably does have decent nutritional properties. But while forcing myself to drink this stuff, I got flashbacks from 3 years old when I was forced to eat spinach. The good news is Amazon refunded the cost of the purchase even though it\'s a "non-refundable" product. You have to call them to do it. They didn\'t even want me to send back the unopened bags! But I really want to return them. It seems a shame to have to throw them away.']
Length: 2, dtype: string
<StringArray>
['"Both" of Gloria Jean\'s "Hazelnut" and "Vanilla" packs of 50 contained only "49."  Does Gloria Jean\'s have a fundamental packaging problem ??', '"Both" of Gloria Jean\'s "Hazelnut" and "Vanilla" packs of 50 contained only "49."  Does Gloria Jean\'s have a fundamental packaging problem ??']
Length: 2, dtype: string
<StringArray>
['"Bounty" bars consist of a soft, almost molten center of sweet coconut coated in an outer layer of milk chocolate. You can easily buy them "over the counter" here in Australia. But if that\'s not the case where you are, and you don\'t mind a diet rich in junk food, then yes, this is a candy bar worth going to the trouble of ordering over the internet.<br /><br />Note that here on Amazon you can purchase bounty bars in boxes with varying numbers of bars inside, so it is worth your while to crunch the numbers and think about what package offers the best value for you. At the same time, it may not be entirely in the best interests of your health to have _too_ many of these things lying around at home all at once!<br /><br />Theo.', '"Bounty" bars consist of a soft, almost molten center of sweet coconut coated in an outer layer of milk chocolate. You can easily buy them "over the counter" here in Australia. But if that\'s not the case where you are, and you don\'t mind a diet rich in junk food, then yes, this is a candy bar worth going to the trouble of ordering over the internet.<br /><br />Note that here on Amazon you can purchase bounty bars in boxes with varying numbers of bars inside, so it is worth your while to crunch the numbers and think about what package offers the best value for you. At the same time, it may not be entirely in the best interests of your health to have _too_ many of these things lying around at home all at once!<br /><br />Theo.']
Length: 2, dtype: string

In [155]:
reviews_labelled_df = pd.read_csv(reviews_labelled_in_path,
                       keep_default_na=False,
                       na_values=NA_VALUES,
                       dtype={
                           'labelled_review.uid': 'string',
                           'text': 'string',
                           'sentiment_label': 'string'
                       }
                       )

reviews_labelled_df = reviews_labelled_df.drop_duplicates(subset="text", keep="first")
reviews_labelled_df = reviews_labelled_df.reset_index(drop=True)


# ------------------------------
# CHECK PK VALIDITY: review.uid
# ------------------------------

#null check
display(
    reviews_labelled_df
    .loc[lambda tbl: tbl['labelled_review.uid'].isnull()]
    .assign(aux=1.0)
    .shape[0]
)

0

# Save

In [156]:
# Save Cleaned Dataset

with users_pkl_path.open('wb') as fh:
    dill.dump(users_df, fh)
print(f"Save users data in {users_pkl_path.as_posix()}")

with profiles_pkl_path.open('wb') as fh:
    dill.dump(profiles_df, fh)
print(f"Save profiles data in {profiles_pkl_path.as_posix()}")

with cards_pkl_path.open('wb') as fh:
    dill.dump(cards_df, fh)
print(f"Save cards data in {cards_pkl_path.as_posix()}")

with orders_pkl_path.open('wb') as fh:
    dill.dump(orders_df, fh)
print(f"Save orders data in {orders_pkl_path.as_posix()}")

with order_details_pkl_path.open('wb') as fh:
    dill.dump(order_details_df, fh)
print(f"Save order details data in {order_details_pkl_path.as_posix()}")

with reviews_pkl_path.open('wb') as fh:
    dill.dump(reviews_df, fh)
print(f"Save reviews data in {reviews_pkl_path.as_posix()}")

with reviews_labelled_pkl_path.open('wb') as fh:
    dill.dump(reviews_labelled_df, fh)
print(f"Save reviews labelled data in {reviews_labelled_pkl_path.as_posix()}")

Save users data in C:/Users/davyt/Desktop/Bicocca/Marketing Analytics/unimib_snowit_project/data_loaded/users.pkl
Save profiles data in C:/Users/davyt/Desktop/Bicocca/Marketing Analytics/unimib_snowit_project/data_loaded/profiles.pkl
Save cards data in C:/Users/davyt/Desktop/Bicocca/Marketing Analytics/unimib_snowit_project/data_loaded/cards.pkl
Save orders data in C:/Users/davyt/Desktop/Bicocca/Marketing Analytics/unimib_snowit_project/data_loaded/orders.pkl
Save order details data in C:/Users/davyt/Desktop/Bicocca/Marketing Analytics/unimib_snowit_project/data_loaded/order_details.pkl
Save reviews data in C:/Users/davyt/Desktop/Bicocca/Marketing Analytics/unimib_snowit_project/data_loaded/reviews.pkl
Save reviews labelled data in C:/Users/davyt/Desktop/Bicocca/Marketing Analytics/unimib_snowit_project/data_loaded/reviews_labelled.pkl